@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Varela+Round&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: roboto;

}

p{
  margin-bottom: 0 !important;
}

body{
    background-color: #23242a;
    position: relative;
    min-height: 100vh;
}

/* -------------- CABECERA ------------- */

header{
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 80px;
    background-color: #000000;
    position: fixed;
    z-index: 1;
}

.Snavbar{
    width: 70%;
    display: flex;
    justify-content: space-around;
}

/* -------------- ESTILOS ITEMS MENU ------------- */

body{margin:0;padding:0;}
.hamburger{
	position:relative;
  background-color:transparent;
	left:0;
	top:-9px;
	height:30px;
	width:30px;
	padding:20px 20px;
	-webkit-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
	-webkit-transition:-webkit-transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	transition:transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	z-index:1002;
	cursor:pointer;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none
}
.hamburger.is-active{
  background-color:none;
}
._layer{
	background:#00B8D4;
	margin-bottom:4px;
	border-radius:2px;
	width:28px;
	height:4px;
	opacity:1;
	-webkit-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
	-webkit-transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
}
.hamburger:hover .-top{
	-webkit-transform:translateY(-100%);
	-ms-transform:translateY(-100%);
	transform:translateY(-100%);
}
.hamburger:hover .-bottom{
	-webkit-transform:translateY(100%);
	-ms-transform:translateY(100%);
	transform:translateY(100%);
	}
.hamburger.is-active .-top{
	-webkit-transform:translateY(200%) rotate(45deg) !important;
	-ms-transform:translateY(200%) rotate(45deg) !important;
	transform:translateY(200%) rotate(45deg) !important;
}
.hamburger.is-active .-mid{
	opacity:0;
}
.hamburger.is-active .-bottom{
	-webkit-transform:translateY(-200%) rotate(135deg) !important;
	-ms-transform:translateY(-200%) rotate(135deg) !important;
	transform:translateY(-200%) rotate(135deg) !important;
}

.menuppal.is_active{
  transform: translate3d(0px, 0px, 0px);
}
.menuppal{
   background-color: rgba(255, 255, 255, 0.95);
    bottom: 0;
    height: 100%;
    left: 0;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    transform: translate3d(0px, -100%, 0px);
    transition: transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
    width: 100%;
    z-index: 1001;
}
.menuppal ul{
  margin:0;padding:0;
}
.menuppal ul li { 
  list-style: none;
	text-align:center;
	font-family: Verdadna, Arial, Helvetica;
	color:#00B8D4;
	font-size:1.5rem;
	line-height:3em;
	height:3em;
	text-transform:none;
	font-weight:bold;
}
.menuppal ul li a{
  text-decoration:none;
  color:#959595;
}
.menuppal ul li a:hover{
  text-decoration:none;
  color:#00B8D4;
}


a{
    font-size: 16px;
    font-family: roboto;
    letter-spacing: 2px;
    font-weight: 600;
    color: #ffffff;
    transition: ease 0.5s;
}

.Snavbar a:hover{
    color: #00B8D4;
    font-weight: 800;
}

/* --------------- ESTILOS USUARIO --------------- */

.dataUser{
    display: flex;
    justify-content: center;
    align-items: center;
}

.dataUser img{
    margin-left: 15px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.dataUser p{
    color: #00B8D4;
    letter-spacing: 2px;
  }

/* -------------- MENÚ DESPLEGABLE ------------ */

.user {
    position: relative;
    display: inline-block;
}

.actionUser {
    display: none;
    position: absolute;
    background-color: #fff;
    width: 125px;
    padding: 8px 8px;
    z-index: 1;
    border-bottom-right-radius: 5%;
    border-bottom-left-radius: 5%;
    transition: all 0.4s ease;
}

.user:hover .actionUser {
    display: block;
}

.actionUser h6 {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.actionUser a {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #2962FF;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* ---------- ICONO MENU HAMBURGUESA -------------- */

.fa-bars{
    font-size: 28px;
    color: #00B8D4;
}

/* -------------- REDES SOCIALES FLOTANTES ------------ */

.sticky-social{
    position:fixed;
    top:200px;
    left:0;
    padding:0px;
    margin:0px;
    z-index: 1;
  }
  .social{
    list-style:none;
  }
  .social li{
    padding:10px 10px;
    font-size:15px;
    transition:all 0.3s ease-in-out;
  }
  .social li:hover{
      margin-right:-20px;
  }
  .social li:hover .fa-brands{
      margin-left:10px;
  }
  
  .fa-brands{
    color:#fff;
    transition:all 0.3s ease-in-out;
  }
  .fb{
    background-color:#3C5A98;
  }
  .twitter{
      background-color:#1EA1F2;
  }
  .insta{
      background-color:#C13584;
  }
  .wpp{
      background-color:#25D366;
  }

  /* ---------------- SECCIÓN PRICIPAL SOBRE NOSOTROS ---------- */

.SseccionPrincipalAbout{
    text-align: center;
    width: 80%;
    margin: auto;
    margin-top: 150px;
    padding-top: 60px;
    margin-bottom: 50px;

}

.SseccionPrincipalAbout h1{
   font-size: 40px;
   color: #00B8D4;
}

.SseccionPrincipalAbout p{
    margin-top: 20px;
    font-size: 18px;
    color: #fff;

}

  /* ------------ TARJETAS QUIENES SOMOS ----------- */

  .Scontenedor{
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-bottom: 100px;
  }

  

  .Scard {
    padding: 10px;
    background-color: transparent;
    width: 350px;
    height: 350px;
    perspective: 1000px;
    margin: 0 auto;
    margin-top: 70px;
  }

  .Scard:first-child{
    margin-top: 0;
  }

  .Scard p{
    color: #ffffff;
    text-align: center;
    margin-top: 15px;
    font-size: 18px;
  }
  
  .ScardContenedor {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .Scard:hover .ScardContenedor {
    transform: rotateY(180deg);
  }
  
  .ScardFront, .ScardBack {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .ScardFront {
    color: black;
  }

  .ScardFront img{
    width: 100%;
    height: auto;
  }
  
  .ScardBack {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    background-color: #00B8D4;
    color: white;
    transform: rotateY(180deg);
  }

  .ScardBack h5{
    width: 100%;
    font-size: 30px;
  }

  .ScardBack p{
    margin: 10px;
    width: 100%;
  }


  /* ---------------- PIE DE PAGINA ---------- */

.Sfooter{
    width: 100%;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 20px;
}

.Smapa{
  flex-direction: column;
  display: flex;

}

.Smapa a:hover{
  color: #00B8D4;
}

.Sfooter div{
    padding-top: 20px;
    padding-bottom: 20px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.Sfooter img{
    width: 100%;
}

.Sfooter h3 {
  font-weight: 200;
  font-size: 1.75em;
  color: #00B8D4;
  letter-spacing: 1px;
  margin-bottom: 18px;
}

.Smapa a{
  margin: 2px;
}

.Sfooter p{
    margin-top: 15px;
    color: #ffffff;
}

/* ---------- MEDIA QUERYS ----------- */

@media (min-width: 0px) and (max-width: 576px){

    /* -------------- CABECERA ------------- */
    
    header img{
        width: 200px;
    }
    
    .Snavbar{
        display: none;
    }
    
    /* --------------- ESTILOS USUARIO --------------- */
    
    .user p{
        display: none;
        color: #1EA1F2;
        letter-spacing: 2px;
    }

}
    
    @media (min-width: 577px) and (max-width: 899px){
    
        /* -------------- CABECERA ------------- */
    
        header img{
            width: 350px;
        }
    
        .Snavbar{
            display: none;
        }
        
        /* ---------------- PIE DE PAGINA ---------- */
    
        .Sfooter img{
            width: 50%;
        }
    } 
    
    @media (min-width: 900px) and (max-width: 1920px){
    
        /* -------------- CABECERA ------------- */
    
        .hamburger{
          display: none;
      }
  
        header img{
            width: 200px;
        }
    
        .fa-bars{
            display: none;
        }
    
        .dataUser i {
            display: none;
        }

        /* ---------------- SECCIÓN PRICIPAL SOBRE NOSOTROS ---------- */

.SseccionPrincipalAbout{
    text-align: center;
    width: 85%;
    margin: auto;
    margin-top: 150px;
    padding-top: 70px;
    margin-bottom: 50px;

}

         /* ------------ TARJETAS QUIENES SOMOS ----------- */

        .Scontenedor{
            width: 85%;
            display: flex;
            flex-direction: row;
            margin: 0 auto;
        }
        
          .Scard {
            margin: 15px;
            background-color: transparent;
            width: 300px;
            height: 300px;
            perspective: 1000px;
            margin: 0 auto;
          }
          
          .ScardContenedor {
            position: relative;
            width: 100%;
            height: 100%;
            text-align: center;
            transition: transform 0.6s;
            transform-style: preserve-3d;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
          }
          
          .Scard:hover .ScardContenedor {
            transform: rotateY(180deg);
          }
          
          .ScardFront, .ScardBack {
            position: absolute;
            width: 100%;
            height: 100%;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
          }
          
          .ScardFront {
            color: black;
          }
        
          .ScardFront img{
            width: 100%;
            height: auto;
          }
          
          .ScardBack {
            flex-wrap: wrap;
            display: flex;
            align-items: center;
            background-color: #00B8D4;
            color: white;
            transform: rotateY(180deg);
          }
        
          .ScardBack h5{
            width: 100%;
            font-size: 30px;
          }
        
          .ScardBack p{
            margin: 10px;
            width: 100%;
          }
    
        /* -------------- REDES SOCIALES FLOTANTES ------------ */
    
        .social li{
            padding:10px 10px;
            transition:all 0.3s ease-in-out;
          }
          .social li:hover{
              margin-right:-30px;
          }
          .social li:hover .fa-brands{
              margin-left:20px;
          }
    
        /* ---------------- PIE DE PAGINA ---------- */

        .Sfooter{
            position: absolute;
            bottom: 0;
        }
    
        .Sfooter div{
            width: 30%;
        }
    
        .Sfooter img{
            width: 80%;
        }
    
    }