@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
  font-family: 'Poppins', 'roboto', sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

ul{padding-left: 0;}

p{
  margin-bottom: 0 !important;
  color: #ffffff;
}

/*----CABECERA DE LA PÁGINA----*/

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 80px;
  background-color: #000000;
  position: fixed;
  margin-bottom: 80px;
  z-index: 100;
}

.Snavbar {
  width: 70%;
  display: flex;
  justify-content: space-around;
}

/*----ESTILOS ITEMS MENU----*/
.hamburger{
	position:relative;
  background-color:transparent;
	left:0;
	top:-9px;
	height:30px;
	width:30px;
	padding:20px 20px;
	-webkit-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
	-webkit-transition:-webkit-transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	transition:transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	z-index:1002;
	cursor:pointer;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none
}
.hamburger.is-active{
  background-color:none;
}
._layer{
	background:#1EA1F2;
	margin-bottom:4px;
	border-radius:2px;
	width:28px;
	height:4px;
	opacity:1;
	-webkit-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
	-webkit-transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
}
.hamburger:hover .-top{
	-webkit-transform:translateY(-100%);
	-ms-transform:translateY(-100%);
	transform:translateY(-100%);
}
.hamburger:hover .-bottom{
	-webkit-transform:translateY(100%);
	-ms-transform:translateY(100%);
	transform:translateY(100%);
	}
.hamburger.is-active .-top{
	-webkit-transform:translateY(200%) rotate(45deg) !important;
	-ms-transform:translateY(200%) rotate(45deg) !important;
	transform:translateY(200%) rotate(45deg) !important;
}
.hamburger.is-active .-mid{
	opacity:0;
}
.hamburger.is-active .-bottom{
	-webkit-transform:translateY(-200%) rotate(135deg) !important;
	-ms-transform:translateY(-200%) rotate(135deg) !important;
	transform:translateY(-200%) rotate(135deg) !important;
}

.menuppal.is_active{
  transform: translate3d(0px, 0px, 0px);
}
.menuppal{
   background-color: rgba(255, 255, 255, 0.95);
    bottom: 0;
    height: 100%;
    left: 0;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    transform: translate3d(0px, -100%, 0px);
    transition: transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
    width: 100%;
    z-index: 1001;
}
.menuppal ul{
  margin:0;padding:0;
}
.menuppal ul li { 
  list-style: none;
	text-align:center;
	font-family: Verdadna, Arial, Helvetica;
	color:#00B8D4;
	font-size:1.5rem;
	line-height:3em;
	height:3em;
	text-transform:none;
	font-weight:bold;
}
.menuppal ul li a{
  text-decoration:none;
  color:#959595;
}
.menuppal ul li a:hover{
  text-decoration:none;
  color:#0d6efd;
}

a{
  font-size: 16px;
  font-family: roboto;
  letter-spacing: 2px;
  font-weight: 600;
  color: #ffffff;
  transition: ease 0.5s;
}

.Snavbar a {
  font-size: 16px;
  font-family: 'roboto';
  letter-spacing: 2px;
  font-weight: 600;
  color: #ffffff;
  transition: ease 0.5s;
}

.Snavbar a:hover {
  color: #00B8D4;
}

p.numeroDeCarrito {
  background-color: #fff;
  display: inline-block;
  color: #000;
  padding: 3px;
  border-radius: 50px;
  position: absolute;
  margin-top: -35px;
  margin-left: -8px;
  font-size: 10px;
}

/*----ICONO MENU HAMBURGUESA----*/

.fa-bars {
  font-size: 28px;
  color: #00B8D4;
}

/* --------------- ESTILOS USUARIO --------------- */

.dataUser{
  display: flex;
  justify-content: center;
  align-items: center;
}

.dataUser img{
  margin-left: 15px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.dataUser p{
  color: #00B8D4;
  letter-spacing: 2px;
}

/* -------------- MENÚ DESPLEGABLE ------------ */

.user {
  position: relative;
  display: inline-block;
}

.actionUser {
  display: none;
  position: absolute;
  background-color: #fff;
  width: 125px;
  padding: 8px 8px;
  z-index: 1;
  border-bottom-right-radius: 5%;
  border-bottom-left-radius: 5%;
  transition: all 0.4s ease;
}

.user:hover .actionUser {
  display: block;
}

.actionUser h6 {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.actionUser a {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #2962FF;
  padding-top: 20px;
  padding-bottom: 20px;
}

 /*---- FORMULARIO PRODUCTOS----*/
 #errorsDiv p {
  color: #fff;
  font-size: 12px;
  margin-top: 10px;
  letter-spacing: 1px;
  text-align: center;
}

.Qerrors{
  color: #ffffff;
  font-size: 13px;
  font-weight: bold;  
  letter-spacing: 0.05em;
  margin-bottom: 0px;
}
    
.background{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 150vh;
  background-color: #23242a;
}

.box
{
  position: relative;
  width: 500px;
  height: 1050px;
  background: #1c1c1c;
  border-radius: 8px;
  overflow: hidden;
  margin-top: 105px;
  margin-bottom: 61px;
}

.box::before
{
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 500px;
  height: 1050px;
  background: linear-gradient(0deg,transparent,#00b8d4,#00b8d4);
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
}
.box::after
{
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 500px;
  height: 1050px;
  background: linear-gradient(0deg,transparent,#00b8d4,#00b8d4);
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
  animation-delay: -3s;
}
@keyframes animate
{
  0%
  {
      transform:rotate(0deg)
  }
  100%
  {
      transform:rotate(360deg)
  }
}
.form
{
  position: absolute;
  inset: 2px;
  border-radius: 8px;
  background: #28292d;
  z-index: 10;
  padding: 50px 40px;
  display: flex;
  flex-direction: column;
}
.form h2
{
  color: #00b8d4;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.1em;
}
.inputBox
{
  position: relative;
  width: 100%;
  margin-top: 20px;
}
.inputBox input
{
  position: relative;
  width: 100%;
  padding: 10px 10px 10px;
  background: transparent;
  outline: none;
  box-shadow: none;
  border: none;
  color: white;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
}
.inputBox i
{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #00b8d4;
  border-radius: 4px;
}
.inputImage
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  width: 100%;
  margin-top: 5px;
}
.inputImage label
{   
  font-size: 0.90em;
  color: #8f8f8f;
  pointer-events: none;
  letter-spacing: 0.05em;
}
input[type="file"]
{  
  border: 1px solid #00b8d4;
  outline: none;
  color: #8f8f8f;
  padding: 5px;
  background-color: transparent;
  font-size: 0.8em;
  letter-spacing: 0.05em;
  margin-top: 25px;
  border-radius: 4px;
}
.inputSelect
{
  position: relative;
  width: 100%;
  margin-top: 25px;
}
.inputSelect select
{
  position: relative;
  text-align: center;
  color: white;
  border: 1px solid #00b8d4;
  border-radius: 4px;
  margin-top: -10px;
  width: 100%;
  height: 32px;
  font-size: 0.80em;
  background-color: transparent;
  letter-spacing: 0.05em;
}
.inputSelect select option
{
  position: relative;
  text-align: center;
  color: white;
  font-size: 1em;
  background-color: #28292d;
  letter-spacing: 0.05em;
}
input[type="submit"]
{
  align-self: center;
  border: none;
  outline: none;
  color: white;
  background: #00b8d4;
  padding: 11px 25px;
  width: 200px;
  margin-top: 25px;
  border-radius: 4px;
  font-size: 0.90em;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s;
}
input[type="submit"]:hover
{
  background-color: #2962FF;
}

  /*----PIE DE PÁGINA----*/

.Sfooter {
  width: 100%;
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-bottom: 20px;
}

.Smapa{
  flex-direction: column;
  display: flex;

}

.Smapa a:hover{
  color: #00B8D4;
}

.Sfooter div {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.Sfooter img {
  width: 100%;
}

.Sfooter h3 {
  font-weight: 200;
  font-size: 1.75em;
  color: #00B8D4;
  letter-spacing: 1px;
  margin-bottom: 18px;
}

.Smapa a{
  margin: 2px;
}

.Sfooter p {
  margin-top: 15px;
}



/*---- Media querys Movil---*/

@media (min-width: 0px) and (max-width: 576px){
  
  /*----CABECERA----*/

header img {
  width: 200px;
}

.Snavbar {
  display: none;
}

/* --------------- ESTILOS USUARIO --------------- */

.user p{
  display: none;
  color: #1EA1F2;
  letter-spacing: 2px;
}


/*--- CAJA DEL FORM ---*/

.QformProducts {
  width: 95%;
  height: auto;
  margin: 0 auto;
  padding-bottom: 10px;
  position: relative;
  top: 100px;
  margin-bottom: 100px;
  bottom: 50px;
}

.QimagenFormulario div{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.QdivInterno {
  margin-top: 15px;
}

.Qimagenes{
  margin-top: 10px;
}

.QimagenFormulario #imagen{
  width: 70%;
}

.QformProducts h3 {
  font-size: 20px;
  position: relative;
  top: 10px;    
}

.QformProducts input {
  width: 95%;
  height: 35px;
  padding: 7px;
}

/*----BOTONES----*/

.Qboton {
  margin-top: 5px;
}

.Qboton input{
  width: 130px;
}
}


/*---- Media queries Tablet---*/

@media (min-width: 577px) and (max-width: 899px) {
  .box
  {
    position: relative;
    width: 500px;
    height: 1050px;
    background: #1c1c1c;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .box::before
  {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 500px;
    height: 1050px;
    background: linear-gradient(0deg,transparent,#00b8d4,#00b8d4);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
  }
  .box::after
  {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 500px;
    height: 1050px;
    background: linear-gradient(0deg,transparent,#00b8d4,#00b8d4);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
  }

/*----CABECERA----*/

header img {
  width: 350px;
}

.Snavbar {
  display: none;
}
   
/*--- CAJA DEL FORM ---*/

.QformProducts {
  width: 95%;
  height: 550px;
  margin: 0 auto;
}
  
.QformProducts h3 {
  font-size: 20px;
  position: relative;
  top: 10px;
}

.QformProducts input {
  width: 95%;
  height: 35px;
  padding: 7px;
}

/*----BOTONES----*/

.Qboton {
  margin-top: 5px;
}

.Qboton input{
  width: 130px;
}

}

/*---- Media queries Escritorio---*/

@media (min-width: 900px) and (max-width: 1925px){

  .box
  {
    position: relative;
    width: 520px;
    height: 1050px;
    background: #1c1c1c;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .box::before
  {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 500px;
    height: 1050px;
    background: linear-gradient(0deg,transparent,#00b8d4,#00b8d4);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
  }
  .box::after
  {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 500px;
    height: 1050px;
    background: linear-gradient(0deg,transparent,#00b8d4,#00b8d4);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
  }
/*----CABECERA DE LA PÁGINA----*/
  
.hamburger{
  display: none;
}

header img {
    width: 200px;
  }

.Sburger-menu .fa-bars {
    display: none;
  }

  /* ------- ESTILOS USUARIOS --------- */
 
  .dataUser i {
    display: none;
}

  /* ------- INPUTS --------- */

  .QdivInterno{
    margin-top: 10px;
  }

 /*----PIE DE PÁGINA----*/

 .Sfooter div{
  width: 30%;
}

.Sfooter img{
  width: 80%;
}
}