@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Varela+Round&display=swap');

* {
    font-family: Roboto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
  
/* -------------- CABECERA ------------- */

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 80px;
  box-shadow: 0px 1px 5px #a3a3a3;
  background-color: #fff;
  position: fixed;
  z-index: 1;
}

.Snavbar {
  width: 70%;
  display: flex;
  justify-content: space-around;
}

/* -------------- ESTILOS ITEMS MENU ------------- */


a{
  font-size: 16px;
  font-family: roboto;
  letter-spacing: 2px;
  font-weight: 600;
  color: #959595;
  transition: ease 0.5s;
}

.Snavbar a:hover {
  color: #2962FF;
}



/* ---------- ICONO MENU HAMBURGUESA -------------- */

.Sburger-menu .fa-bars {
  font-size: 28px;
  color: #00B8D4;
}

/* -------------- REDES SOCIALES FLOTANTES ------------ */

.sticky-social{
  position:fixed;
  top:200px;
  left:0;
  padding:0px;
  margin:0px;
}
.social{
  list-style:none;
}
.social li{
  padding:10px 10px;
  font-size:15px;
  transition:all 0.3s ease-in-out;
}
.social li:hover{
    margin-right:-20px;
}
.social li:hover .fa-brands{
    margin-left:10px;
}

.fa-brands{
  color:#fff;
  transition:all 0.3s ease-in-out;
}
.fb{
  background-color:#3C5A98;
}
.twitter{
    background-color:#1EA1F2;
}
.insta{
    background-color:#C13584;
}
.wpp{
    background-color:#25D366;
}



.jImagenFondo {
    background-image: url("/images/Images_login_register/backgroundLogin.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 145px;
    padding-bottom: 145px;
}
/*----Caja de registro-----*/

form {
    width: 25%;
    height: auto;
    margin: 0 auto;
    margin-top: 300px;
    padding: 20px 30px;
    border-top: 4px solid #017bab;
    color: white;
    text-align: center;
    border-radius: 8px;
    position: relative;
    left: 15%;
    box-shadow: 0px 0px 3px #9d9d9d;
}

form input {
    width: 78%;
    border: 1px solid white;
    margin-bottom: 15px;
    color: grey;
    height: 5px;
    padding: 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    text-align: left;
}

form h3 {
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 20px;
}

/*------Cajas para completar login----*/

input {
    width: 90%;
    border: 1px solid white;
    margin-bottom: 15px;
    background-color: white;
    height: 10px;
    padding: 11px 10px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
}

/*------Botones Login----*/

button {
    width: 130px;
    height: 40px;
    background-color: #00B8D4;
    border: none;
    color: white;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 45px;
    transition: all 0.3s;
}

button:hover {
    transform: scale(0.99);
    background-color: #2962FF;
}

.jOlvidaste {
    height: 40px;
    text-align: center;
    border-bottom: 1px solid;
}

.jNoCuenta {
  height: 40px;
  text-align: center;
}

.jOlvidaste :hover{
  text-decoration: underline;
}

.jNoCuenta :hover{
  text-decoration: underline;
}

form a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}


/*-----Checkbox recuerdame----*/

.jRecuerdame {
    font-size: 15px;
    padding-left: 30px;
    padding-right: 10px;
    padding-bottom: 10px;
    position: relative;
    right: 130px;
    color:#fff;
}

.jCheckbox {
    position: relative;
    top: 2px;
    right: 4px;
}

#jRecuerdame {
    width: 15px;
    height: 15px;
    box-shadow: 0.8px;
}

/*----- Estilos Footer-----*/

.Sfooter {
    width: 100%;
    background-color: #ececec;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .Sfooter div {
    padding-top: 20px;
    padding-bottom: 30px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }
  
  .Sfooter img {
    width: 100%;
  }
  
  .Sfooter h3 {
    color: #00B8D4;
    letter-spacing: 1px;
  }
  
  .Sfooter p {
    margin-top: 15px;
  }

 
  

/*------Media Queries--------*/

/*---Media Querie Móvil-----*/

@media (min-width: 0px) and (max-width: 576px) {

/* -------------- CABECERA ------------- */

header img {
    width: 200px;
}
    
.Snavbar {
    display: none;
}

form {
        width: 80%;
        position: relative;
        left: 0%;
        bottom: 300px;
    }
}

.jRecuerdame { 
    margin-top: 10px;
    font-size: 14px;
    position: relative;
    left: -13px;
    padding-bottom: 10px;
  }

/*---Media Querie Tablet ---*/

@media (min-width: 577px) and (max-width: 899px) {
      
header img {
        width: 350px;
      }
    
.Snavbar {
        display: none;
      }
    
form {
        width: 500px;
        position: relative;
        left: 0%;
        bottom: 300px;
    }
}

.Sfooter img {
    width: 50%;
  }

.jRecuerdame { 
    margin-top: 10px;
    font-size: 14px;
    position: relative;
    left: -13px;
    padding-bottom: 10px;
}

/*---Media Querie Desktop---*/

@media (min-width: 900px) and (max-width: 1920px) {

/* -------------- CABECERA ------------- */
header img {
    width: 200px;
  }

.fa-bars {
    display: none;
}

/* -------------- REDES SOCIALES FLOTANTES ------------ */

.social li{
  padding:10px 10px;
  transition:all 0.3s ease-in-out;
}
.social li:hover{
    margin-right:-30px;
}
.social li:hover .fa-brands{
    margin-left:20px;
}

  /* ---------------- PIE DE PAGINA ---------- */

.Sfooter div{
    width: 30%;
}

.Sfooter img{
    width: 80%;
}

form {
    width: 500px;
    position: relative;
    left: 0%;
    bottom: 300px;
}
}

