@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Varela+Round&display=swap');

* {
  font-family: Roboto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}



.errorsDiv { 
  border-color: #800000;
}

p{
  margin-bottom: 0 !important;
}

/* -------------- CABECERAAAA ------------- */

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 80px;
  box-shadow: 0px 1px 5px #a3a3a3;
  background-color: #fff;
  position: fixed;
  
}

.Snavbar {
  width: 70%;
  display: flex;
  justify-content: space-around;
}

/* --------------- BODY  --------------- */

body 
{
	display: flex;
	align-items: center;
	min-height: 100vh;
	flex-direction: column;
	background: #23242a;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-bottom: 145px;
}
/* -------------- ESTILOS ITEMS MENU ------------- */
body{margin:0;padding:0;}
.hamburger{
	position:relative;
  background-color:transparent;
	left:0;
	top:-9px;
	height:30px;
	width:30px;
	padding:20px 20px;
	-webkit-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
	-webkit-transition:-webkit-transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	transition:transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	z-index:1002;
	cursor:pointer;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none
}
.hamburger.is-active{
  background-color:none;
}
._layer{
	background:#1EA1F2;
	margin-bottom:4px;
	border-radius:2px;
	width:28px;
	height:4px;
	opacity:1;
	-webkit-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
	-webkit-transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
}
.hamburger:hover .-top{
	-webkit-transform:translateY(-100%);
	-ms-transform:translateY(-100%);
	transform:translateY(-100%);
}
.hamburger:hover .-bottom{
	-webkit-transform:translateY(100%);
	-ms-transform:translateY(100%);
	transform:translateY(100%);
	}
.hamburger.is-active .-top{
	-webkit-transform:translateY(200%) rotate(45deg) !important;
	-ms-transform:translateY(200%) rotate(45deg) !important;
	transform:translateY(200%) rotate(45deg) !important;
}
.hamburger.is-active .-mid{
	opacity:0;
}
.hamburger.is-active .-bottom{
	-webkit-transform:translateY(-200%) rotate(135deg) !important;
	-ms-transform:translateY(-200%) rotate(135deg) !important;
	transform:translateY(-200%) rotate(135deg) !important;
}

.menuppal.is_active{
  transform: translate3d(0px, 0px, 0px);
}
.menuppal{
   background-color: rgba(255, 255, 255, 0.95);
    bottom: 0;
    height: 100%;
    left: 0;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    transform: translate3d(0px, -100%, 0px);
    transition: transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
    width: 100%;
    z-index: 1001;
}
.menuppal ul{
  margin:0;padding:0;
}
.menuppal ul li { 
  list-style: none;
	text-align:center;
	font-family: Verdadna, Arial, Helvetica;
	color:#00B8D4;
	font-size:1.5rem;
	line-height:3em;
	height:3em;
	text-transform:none;
	font-weight:bold;
}
.menuppal ul li a{
  text-decoration:none;
  color:#959595;
}
.menuppal ul li a:hover{
  text-decoration:none;
  color:#0d6efd;
}


a {
  font-size: 16px;
  font-family: roboto;
  letter-spacing: 2px;
  font-weight: 600;
  color: #959595;
  transition: ease 0.5s;
}

.Snavbar a:hover {
  color: #2962FF;
}



/* ---------- ICONO MENU HAMBURGUESA -------------- */

.Sburger-menu .fa-bars {
  font-size: 28px;
  color: #00B8D4;
}

/* --------------- ESTILOS USUARIO --------------- */

.dataUser {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dataUser img {
  margin-left: 15px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.dataUser p {
  color: #1EA1F2;
  letter-spacing: 2px;
}

/* -------------- MENÚ DESPLEGABLE ------------ */

.user {
  position: relative;
  display: inline-block;
}

.actionUser {
  display: none;
  position: absolute;
  background-color: #fff;
  width: 125px;
  padding: 8px 8px;
  z-index: 1;
  border-bottom-right-radius: 5%;
  border-bottom-left-radius: 5%;
  transition: all 0.4s ease;
}

.user:hover .actionUser {
  display: block;
}

.actionUser h6 {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.actionUser a {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #2962FF;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* -------------- REDES SOCIALES FLOTANTES ------------ */

.sticky-social{
  position:fixed;
  top:200px;
  left: 0;
  padding:0px;
  margin:0px;
  z-index: 1;
}
.social{
  list-style:none;
}
.social li{
  padding:10px 10px;
  font-size:15px;
  transition:all 0.3s ease-in-out;
}
.social li:hover{
    margin-right:-20px;
}
.social li:hover .fa-brands{
    margin-left:10px;
}

.fa-brands{
  color:#fff;
  transition:all 0.3s ease-in-out;
}
.fb{
  background-color:#3C5A98;
}
.twitter{
    background-color:#1EA1F2;
}
.insta{
    background-color:#C13584;
}
.wpp{
    background-color:#25D366;
}



/*----Caja de registro-----*/

.jerrors {
  color: #ffffff;
  font-size: 11px;
  margin-bottom: 15px;
  font-weight: bold;
  letter-spacing: 0.5px;
  display: flex;
  justify-content: start;
  padding-top: 8px;
 
}



.box {
	position: relative;
	width: 85%;
	height: 420px;
	background: #1c1c1c;
	border-radius: 8px;
	overflow: hidden;
  margin-bottom: 150px;
  margin-top: 150px;
  
  

}
.box::before {
	content: '';
	z-index: 1;
	position: absolute;
	top: -50%;
	left: -50%;
	width: 380px;
	height: 420px;
	transform-origin: bottom right;
	background: linear-gradient(0deg,transparent,#00B8D4,#00B8D4);
	animation: animate 6s linear infinite;
}
.box::after 
{
	content: '';
	z-index: 1;
	position: absolute;
	top: -50%;
	left: -50%;
	width: 380px;
	height: 420px;
	transform-origin: bottom right;
	background: linear-gradient(0deg,transparent,#00B8D4,#00B8D4);
	animation: animate 6s linear infinite;
	animation-delay: -3s;
}
@keyframes animate 
{
	0%
	{
		transform: rotate(0deg);
	}
	100%
	{
		transform: rotate(360deg);
	}

}

form {
	position: absolute;
  width: 97%;
  height: 416px;
	inset: 2px;
	background: #28292d;
	padding: 35px 7px;
	border-radius: 8px;
	z-index: 2;
	display: flex;
  margin: 0 auto;
	flex-direction: column;
}

h2 {
	color: #00B8D4;
	font-weight: 500;
	text-align: center;
	letter-spacing: 0.1em;
}

.inputBox {
	position: relative;
	width: 300px;
	margin-top: 35px;
  margin-left: 26px;
}

.inputBox input {
	position: relative;
	width: 100%;
	padding: 1px 4px 6px 8px;
	background: transparent;
	outline: none;
	box-shadow: none;
	border: none;
	color: white;
	font-size: 1em;
	letter-spacing: 0.05em;
	transition: 0.5s;
	
}

.inputBox span {
	position: absolute;
	left: 0;
	padding: 20px 0px 10px;
	pointer-events: none;
	font-size: 1em;
	color: #8f8f8f;
	letter-spacing: 0.05em;
	transition: 0.5s;
}

.inputBox input:valid  span,
.inputBox input:focus  span 

{
	color: #00B8D4;
	transform: translateX(0px) translateY(-34px);
	font-size: 0.75em;
}

.inputBox i {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 85%;
	height: 2px;
	background: #00B8D4;
	border-radius: 4px;
	overflow: hidden;
	transition: 0.5s;
	pointer-events: none;
	z-index: 9;
  
}

.inputBox input:valid  i,
.inputBox input:focus  i 

{
	height: 44px;
}

.links {
	display: flex;
	justify-content: space-between;
}

.links a {
	
  margin-top: 20px;
  margin-left: 22px;
	font-size: 0.75em;
	color: #8f8f8f;
	text-decoration: beige;
}

.links a:hover, 
.links a:nth-child(2)

{
	color: #00B8D4;
}

input[type="submit"] {
	border: none;
	outline: none;
	padding: 11px 25px;
	background: #00B8D4;
	cursor: pointer;
	border-radius: 4px;
	font-weight: 600;
	width: 100px;
	margin-top: 10px;
}

input[type="submit"]:active {
	opacity: 0.8;
}


/*------Cajas para completar login----*/



/*------Botones Login----*/

button {
  background-color: #00B8D4;
  border: none;
  color: white;
  margin-bottom: 10px;
  
  border-radius: 5px;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  transition: all 0.3s;
  display: flex;
  margin: 0 auto;
  padding: 13px;
  margin-top: 16px;
}

button:hover {
  transform: scale(0.99);
  background-color: #2962FF;
}

.jOlvidaste {
  height: 40px;
  text-align: center;
  border-bottom: 1px solid;
}

.jNoCuenta {
  height: 40px;
  text-align: center;
}

.jOlvidaste :hover {
  text-decoration: underline;
}

.jNoCuenta :hover {
  text-decoration: underline;
}

form a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}


/*-----Checkbox recuerdame----*/

.jRecuerdame {
  font-size: 15px;
  padding-left: 40px;
  padding-right: 10px;
  color: #fff;
  display: flex;
  justify-content: flex-start;
  padding-top: 15px;
}

.jCheckbox {
  position: relative;
  top: 2px;
  right: 4px;
}

#jRecuerdame {
  width: 15px;
  height: 15px;
  box-shadow: 0.8px;
}

/*----- Estilos Footer-----*/

.Sfooter {
  width: 100%;
  background-color: #ececec;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 610px;
  position: fixed;
}

.Sfooter div {
  padding-top: 20px;
  padding-bottom: 30px;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.Sfooter img {
  width: 80%;
}

.Sfooter h3 {
  color: #00B8D4;
  letter-spacing: 1px;
  margin-top: -12px;
}

.Sfooter p {
  margin-top: 15px;
  font-size: 14px;
}




/*------Media Queries--------*/

/*---Media Querie Móvil-----*/

@media (min-width: 0px) and (max-width: 576px) {

  /* -------------- CABECERA ------------- */

  header img {
    width: 200px;
  }

  .Snavbar {
    display: none;
  }



  /* --------------- ESTILOS USUARIO --------------- */

  .user p {
    display: none;
    color: #1EA1F2;
    letter-spacing: 2px;
  }

  form {
    width: 98%;
    position: relative;
    left: 0%;
    bottom: 300px;
  }


.jRecuerdame {
  margin-top: 10px;
  font-size: 14px;
  position: relative;
  left: -13px;
  padding-bottom: 10px;
}
}

/*---Media Querie Tablet ---*/

@media (min-width: 577px) and (max-width: 899px) {

  header img {
    width: 350px;
  }

  .Snavbar {
    display: none;
  }

  .box {
    width: 63%;
  }

  form {
    width: 98%;
    height: 415px;
    bottom: 300px;
    padding-left: 38px;
  }

  h2 {
    align-items: center;
  }

  .inputBox  {
    text-align: center;
    display: flex;
    justify-content: center;
  }

  .inputBox i {
    width: 75%;
  }

  .jerrors {
    position: relative;
    left: 15px;
  }


  .jRecuerdame {
    margin-top: 10px;
    font-size: 14px;
    position: relative;
    left: -13px;
    padding-bottom: 10px;
  }


.Sfooter img {
  width: 50%;
}


}

/*---Media Querie Desktop---*/

@media (min-width: 900px) and (max-width: 1920px) {

  /* -------------- CABECERA ------------- */
  .hamburger{
    display: none;
  }
  
  header {
    margin-bottom: 617px;
  }

  header img {
    width: 200px;
  }

  .fa-bars {
    display: none;
  }

  /* -------------- REDES SOCIALES FLOTANTES ------------ */
 

  .social li {
    padding: 10px 10px;
    transition: all 0.3s ease-in-out;
  }

  .social li:hover {
    margin-right: -30px;
  }

  .social li:hover .fa-brands {
    margin-left: 20px;
  }

  /* ---------------- ESTILOS USUARIOS ---------- */

  .dataUser i {
    display: none;
  }

  /* ---------------- PIE DE PAGINA ---------- */
  .box {
    position: fixed;
    width: 20%;
    height: 421px; 
  }

  form {
    width: 99%;
    padding-top: 34px;
    padding-right: 20px;
    padding-left: 38px;
  }

  h2 {
    padding-top: 15px;
    
  }

 
  .jerrors {
    padding-top: 7px;
    position: relative;
    left: 26px;
  }

  .links a {
    position: relative;
    left: 23px;
   
  }

  .jRecuerdame {
    display: flex;
  }

  .Sfooter {
    position: absolute;
    bottom: 0px;
  }

  .Sfooter div{
    width: 30%;
}

.Sfooter img{
    width: 80%;
}
}

