@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Varela+Round&display=swap');

* {
    font-family: Roboto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("/images/Images_login_register/backgroundLogin.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

form {
    width: 25%;
    height: auto;
    background-color: rgba(220, 220, 220, 0.622);;
    margin: 0 auto;
    margin-top: 150px;
    padding: 20px 30px;
    border-top: 4px solid #0091EA;
    color: white;
    text-align: center;
    border-radius: 8px;
    position : relative;
    left: 15%;
}

form input {
    width: 78%;
    border: 1px solid white;
    margin-bottom: 15px;
    color:grey;
    height: 5px;
    padding: 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    text-align: left;
}

form h3 {
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 20px;
}

input {
    width: 90%;
    border: 1px solid white;
    margin-bottom: 15px;
    background-color: white;
    height: 10px;
    padding: 11px 10px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
}

.jBotones {
    width: 120px;
    height: 40px;
    background-color: #017bab;
    border: none;
    color:white;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
}

.jOlvidaste {
    height: 40px;
    text-align: center;
    border-bottom: 1px solid;
}

form a {
    color: white ;
    text-decoration: none;
    font-size: 16px;
}

form a:hover {
    text-decoration: underline;
}

.content-input input,
.content-select select{
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}
 
.content-input input{
	visibility: hidden;
	position: absolute;
	right: 0;
}

.content-input{
	position: relative;
	margin-bottom: 30px;
	padding:5px 0 5px 60px;
	display: block;
}
 
.content-input input + i{
       background: #f0f0f0;
       border:2px solid rgba(0,0,0,0.2);
       position: absolute; 
       left: 100px;
       top: 8px;
}
 
.content-input input[type=checkbox ] + i{
	width: 35px;
	height: 15px;
	border-radius: 15px;
}

.content-input input[type=checkbox] + i:before{
	content: ''; /* No hay contenido */
	width: 13px;
	height: 13px;
	background: #fff;
	border-radius: 50%;
	position: absolute;
	z-index: 1;
	left: 0px;
	top: 0px;
	-webkit-box-shadow: 3px 0 3px 0 rgba(0,0,0,0.2);
	box-shadow: 3px 0 3px 0 rgba(0,0,0,0.2);
}

.content-input input[type=checkbox]:checked + i:before{
	left: 20px;
	-webkit-box-shadow: -3px 0 3px 0 rgba(0,0,0,0.2);
	box-shadow: 3px 0 -3px 0 rgba(0,0,0,0.2);
}
 
.content-input input[type=checkbox]:checked + i{
 background: #017bab;
}


/*------Media Queries--------*/

/*---Media Querie Móvil---*/

@media (min-width: 0px) and (max-width: 576px){
    header img{
        width: 200px;
    }

    .navbar{
        display: none;
    }

    .QtextoProducto1, .QtextoProducto2, .QtextoProducto3{
        font-size: 9px;
    }

    .QlistadoyCantidad{
        font-size: 15px;
    }

    .Qtitulo{
        font-size: 20px;
    }    
}

/*---Media Querie Tablet---*/

@media (min-width: 577px) and (max-width: 768px){
    header img{
        width: 350px;
    }

    .navbar{
        display: none;
    }
} 

/*---Media Querie Desktop---*/

@media (min-width: 769px) and (max-width: 1920px){
    header img{
        width: 350px;
    }

    .fa-bars{
        display: none;
    }
}  


