@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Varela+Round&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

a{
    font-family: roboto;
    letter-spacing: 2px;
    font-weight: 600;
    color: #959595;
    transition: ease 0.5s;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80px;
    box-shadow: 0px 1px 5px #a3a3a3;
}

.navbar{
    width: 70%;
    display: flex;
    justify-content: space-around;
}

.navbar a:hover{
    color: #2962FF;
}

.fa-bars{
    font-size: 28px;
}


/*--------------Product cart-----------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto;
}

.Qcabecera {
    width: 100%;
}

.Qtitulo{
    text-align: center;
    
}

.QlistadoyCantidad{
    display: flex;
    width: 90%;
    justify-content: space-around;
    font-size: 25px;
    margin-top: 30px;
    
}

.Qcontenedor{
    background-color: rgb(114, 101, 97);
    width: 95%;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    border-radius: 5px;
}

.Qproducto1, .Qproducto2, .Qproducto3{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Qproducto1 img, .Qproducto2 img, .Qproducto3 img{
    width: 33%;
    margin-top: 10px;
    margin-left: 10px;
}

.QtextoProducto1, .QtextoProducto2, .QtextoProducto3{
    width: 33%;
    padding: 10px;
    font-size: 20px;
    
}


.Qproducto1 button, .Qproducto2 button, .Qproducto3 button{
    width: 30%;
    height: 30px;
    margin-left: 10px;
}

.Qtotalcarrito{
    width: 95%;
    height: auto;
    padding: 10px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 20px;  
    border: 2px solid #0091EA;
    border-radius: 5px;

}

.Qbotondecompra button{
    background-color: #96adeb;
    border-radius: 5px;
    width: 20%;
    height: 20px;
    border: none;
}

@media (min-width: 0px) and (max-width: 576px){
    header img{
        width: 200px;
    }

    .navbar{
        display: none;
    }

    .QtextoProducto1, .QtextoProducto2, .QtextoProducto3{
        font-size: 9px;
    }

    .QlistadoyCantidad{
        font-size: 15px;
    }

    .Qtitulo{
        font-size: 20px;
    }

    
}

@media (min-width: 577px) and (max-width: 768px){
    header img{
        width: 350px;
    }

    .navbar{
        display: none;
    }
} 

@media (min-width: 769px) and (max-width: 1920px){
    header img{
        width: 350px;
    }

    .fa-bars{
        display: none;
    }
}  