@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Varela+Round&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: roboto;
}

a{
    letter-spacing: 2px;
    font-weight: 600;
    color: #959595;
    transition: ease 0.5s;
}

/* -------------- CABECERA ------------- */

header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 80px;
    box-shadow: 0px 1px 5px #a3a3a3;
    background-color: #fff;
    position: fixed;
    z-index: 1;
}

.Snavbar{
    width: 70%;
    display: flex;
    justify-content: space-around;
}

/* -------------- ESTILOS ITEMS MENU ------------- */


.Snavbar a{
    font-size: 16px;
    font-family: roboto;
    letter-spacing: 2px;
    font-weight: 600;
    color: #959595;
    transition: ease 0.5s;
}

.Snavbar a:hover{
    color: #2962FF;
}

/* ---------- ICONO MENU HAMBURGUESA -------------- */

.Sburger-menu .fa-bars{
    font-size: 28px;
    color: #2962FF;
}

/* -------------- REDES SOCIALES FLOTANTES ------------ */

.sticky-social{
    position:fixed;
    top:200px;
    left:0;
    padding:0px;
    margin:0px;
  }
  .social{
    list-style:none;
  }
  .social li{
    padding:10px 10px;
    font-size:15px;
    transition:all 0.3s ease-in-out;
  }
  .social li:hover{
      margin-right:-20px;
  }
  .social li:hover .fa-brands{
      margin-left:10px;
  }
  
  .fa-brands{
    color:#fff;
    transition:all 0.3s ease-in-out;
  }
  .fb{
    background-color:#3C5A98;
  }
  .twitter{
      background-color:#1EA1F2;
  }
  .insta{
      background-color:#C13584;
  }
  .wpp{
      background-color:#25D366;
  }

/* ---------- IMAGEN PRINCIPAL -----------*/

.image img{
    width: 100%;
    margin-top: 80px;
}

/* ---------- IMAGEN Y DESCRIPCIÓN DE PRODUCTO ----------*/

.container{
    width: 100%;
    display : flex;
    flex-direction : row;
    flex-wrap: wrap;
}

.productImage{
    width: 100%;
    margin: 10px;
}

.productDescription{
    color: rgb(39, 39, 39);
    font-weight: 100;
    width: 100%;
    padding: 10px;
    margin: 10px;
    box-shadow: 0px 0px 3px #9d9d9d;
    border-radius: 10px;
    align-self: center;
}

.namePrice .name{
    font-size: 50px;
    color: rgb(39, 39, 39);
    text-align: center;
}

.namePrice p{
    font-size: 20px;
    color: rgb(39, 39, 39);
    text-align: center;
}

.bigImage img{
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #959595;
    transition: all 0.3s ease;
}

.bigImage img:hover{
    box-shadow: 0px 0px 10px #2962ff;
}

.imageDescription{
    width: 25%;
    margin: 5px;
}

.imageDescription img{
    width: 100%;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #959595;
    transition: all 0.3s ease;
}

.imageDescription img:hover{
    box-shadow: 0px 0px 10px #2962ff;
    transform: scale(1.1);
}

.imageDescriptionContainer{
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: row;
}

.blockDescription{
    width: 100%;
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#color{
    background-color: transparent;
    width: 30%;
    position: relative;
    border-radius: 5px;
    padding: 9px;
    left: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 3px #9d9d9d;
    margin: 5px;
}

.cart, .buy{
    color: #fff;
    position: relative;
    float: right;
    background: none;
    border: none;
    background-color: #00B8D4;
    position: relative;
    width: 30%;
    padding: 9px;
    left: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 3px #9d9d9d;
    margin: 5px;
    transition: all 0.3s ease;
}

.cart:hover, .buy:hover{
    background-color: #2962ff;
}


.textDescription{
    width: 100%;
    margin: 5px;
    padding: 5px;
    text-align: justify;
    color: rgb(39, 39, 39);
}

.textDescription p{
    font-size: 20px;
}

/* ------------- BOTONES EDITAR Y ELIMINAR ------------- */

.buttons{
    display: flex;
    justify-content:center;
    margin-top: 15px;
    margin-bottom:30px;
}

.buttons input{
    padding: 10px;
    margin-left: 20px;
    color: #fff;
    position: relative;
    float: right;
    background: none;
    border: none;
    background-color: #00B8D4;
    position: relative;
    padding: 9px;
    left: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px #9d9d9d;
    margin: 5px;
    transition: all 0.3s ease;
}

.buttons input:hover{
    background-color: #2962ff;
}

/* ---------------- PIE DE PAGINA ---------- */

.Sfooter{
    width: 100%;
    background-color: #ececec;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 20px;
}

.Sfooter div{
    padding-top: 20px;
    padding-bottom: 20px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.Sfooter img{
    width: 100%;
}

.Sfooter h3{
    color: #2962FF;
    letter-spacing: 1px;
}

.Sfooter p{
    margin-top: 15px;
}


/* ---------- MEDIA QUERYS ----------- */

@media (min-width: 0px) and (max-width: 576px){

/* -------------- CABECERA ------------- */

    header img{
        width: 200px;
    }

    .Snavbar{
        display: none;
    }
}

@media (min-width: 577px) and (max-width: 899px){

    header img{
        width: 350px;
    }

    .Snavbar{
        display: none;
    }
    
    /* ---------------- PIE DE PAGINA ---------- */

    .Sfooter img{
        width: 50%;
    }
} 

@media (min-width: 900px) and (max-width: 1920px){

    header img{
        width: 200px;
    }

    .Sburger-menu .fa-bars{
        display: none;
    }

    /* -------------- REDES SOCIALES FLOTANTES ------------ */

    .social li{
        padding:10px 10px;
        transition:all 0.3s ease-in-out;
      }
      .social li:hover{
          margin-right:-30px;
      }
      .social li:hover .fa-brands{
          margin-left:20px;
      }

    /* ---------- DESCRIPCIÓN DE PRODUCTO -----------*/

    .container{
        width: 100%;
        display : flex;
        flex-direction : row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    .productImage{
        width: 30%;

    }
    
    .productDescription{
        width: 65%;
        border-radius: 10px;
    }

    /* ---------------- PIE DE PAGINA ---------- */

    .Sfooter div{
        width: 30%;
    }

    .Sfooter img{
        width: 80%;
    }

}