@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Varela+Round&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

a{
    font-family: roboto;
    letter-spacing: 2px;
    font-weight: 600;
    color: #959595;
    transition: ease 0.5s;
}

/* -------------- CABECERA ------------- */

header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 80px;
    box-shadow: 0px 1px 5px #a3a3a3;
    background-color: #fff;
    position: fixed;
    z-index: 1;
}

.Snavbar{
    width: 70%;
    display: flex;
    justify-content: space-around;
}

/* -------------- ESTILOS ITEMS MENU ------------- */

a{
    font-size: 16px;
    font-family: roboto;
    letter-spacing: 2px;
    font-weight: 600;
    color: #959595;
    transition: ease 0.5s;
}

.Snavbar a:hover{
    color: #2962FF;
}

/* ---------- ICONO MENU HAMBURGUESA -------------- */

.fa-bars{
    font-size: 28px;
    color: #2962FF;
}

/* ---------- IMAGEN PRINCIPAL -----------*/

.image img{
    width: 100%;
    margin-top: 80px;
}

/* ---------- IMAGEN Y DESCRIPCIÓN DE PRODUCTO ----------*/

.container{
    display : flex;
    flex-direction : row;
    flex-wrap: wrap;
}

.productImage{
    width: 100%;
    margin: 10px;
}

.productDescription{
    color: rgb(39, 39, 39);
    font-weight: 100;
    width: 100%;
    padding: 10px;
    margin: 10px;
    border: solid rgb(39, 39, 39, 0.5) 1px;
    border-radius: 5px;
    align-self: center;
}

.namePrice .name{
    font-size: 50px;
    color: rgb(39, 39, 39);
    text-align: center;
}

.namePrice p{
    font-size: 20px;
    color: rgb(39, 39, 39);
    text-align: center;
}

.bigImage img{
    width: 100%;
    box-shadow: 0px 0px 5px #959595;
}

.imageDescription{
    width: 25%;
    margin: 5px;
}

.imageDescription img{
    width: 100%;
    margin: 5px;
    box-shadow: 0px 0px 10px #959595;
}

.imageDescriptionContainer{
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: row;
}

.blockDescription{
    width: 100%;
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#color{
    background-color: transparent;
    border: solid 1px rgb(39, 39, 39);
    width: 50%;
    height: 30px;
    border-radius: 5px;
    margin: 5px;
}

.cart, .buy{
    background-color: transparent;
    border: solid 1px rgb(39, 39, 39);
    width: 50%;
    height: 30px;
    border-radius: 5px;
    margin: 5px;
}

.textDescription{
    width: 100%;
    margin: 5px;
    padding: 5px;
    text-align: justify;
    color: rgb(39, 39, 39);
}

.textDescription p{
    font-size: 20px;
}

/* ---------------- PIE DE PAGINA ---------- */

.Sfooter{
    width: 100%;
    background-color: #ececec;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 20px;
}

.Sfooter div{
    padding-top: 20px;
    padding-bottom: 20px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.Sfooter img{
    width: 100%;
}

.Sfooter h3{
    color: #2962FF;
    letter-spacing: 1px;
}

.Sfooter p{
    margin-top: 15px;
}


/* ---------- MEDIA QUERYS ----------- */

@media (min-width: 0px) and (max-width: 576px){

    header img{
        width: 200px;
    }

    .Snavbar{
        display: none;
    }
}

@media (min-width: 577px) and (max-width: 899px){

    header img{
        width: 350px;
    }

    .Snavbar{
        display: none;
    }
    
    /* ---------------- PIE DE PAGINA ---------- */

    .Sfooter img{
        width: 50%;
    }
} 

@media (min-width: 900px) and (max-width: 1920px){

    header img{
        width: 200px;
    }

    .fa-bars{
        display: none;
    }

    /* ---------- DESCRIPCIÓN DE PRODUCTO -----------*/

    .container{
        margin: 10px;
        padding: 10px;
        display : flex;
        flex-direction : row;
    }
    
    .productImage{
        width: 50%;
    }
    
    .productDescription{
        width: 50%;
        padding: 10px;
        margin: 5px;
        border: solid rgb(39, 39, 39, 0.5) 1px;
        border-radius: 5px;
        align-self: left;
    }

    .container{
        display : flex;
        flex-direction : row;
    }

    /* ---------------- PIE DE PAGINA ---------- */

    .Sfooter div{
        width: 30%;
    }

    .Sfooter img{
        width: 80%;
    }

}