@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Varela+Round&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: Roboto;
}

/* -------------- CABECERAAAA ------------- */

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 80px;
  box-shadow: 0px 1px 5px #a3a3a3;
  background-color: #fff;
  position: fixed;
  margin-bottom: 80px;
  z-index: 100;
}

.Snavbar {
  width: 70%;
  display: flex;
  justify-content: space-around;
}

/* --------------- BODY  --------------- */

body 
{
	display: flex;
	align-items: center;
	min-height: 182vh;
	flex-direction: column;
	background: #23242a;
  /*background-size: cover;
  background-repeat: no-repeat;*/
  width: 100%;
  height: 100%;
  text-align: center;
  position: relative;
}


/* -------------- ESTILOS ITEMS MENU ------------- */
body{margin:0;padding:0;}
.hamburger{
	position:relative;
  background-color:transparent;
	left:0;
	top:-9px;
	height:30px;
	width:30px;
	padding:20px 20px;
	-webkit-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
	-webkit-transition:-webkit-transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	transition:transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	z-index:1002;
	cursor:pointer;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none
}
.hamburger.is-active{
  background-color:none;
}
._layer{
	background:#1EA1F2;
	margin-bottom:4px;
	border-radius:2px;
	width:28px;
	height:4px;
	opacity:1;
	-webkit-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
	-webkit-transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
}
.hamburger:hover .-top{
	-webkit-transform:translateY(-100%);
	-ms-transform:translateY(-100%);
	transform:translateY(-100%);
}
.hamburger:hover .-bottom{
	-webkit-transform:translateY(100%);
	-ms-transform:translateY(100%);
	transform:translateY(100%);
	}
.hamburger.is-active .-top{
	-webkit-transform:translateY(200%) rotate(45deg) !important;
	-ms-transform:translateY(200%) rotate(45deg) !important;
	transform:translateY(200%) rotate(45deg) !important;
}
.hamburger.is-active .-mid{
	opacity:0;
}
.hamburger.is-active .-bottom{
	-webkit-transform:translateY(-200%) rotate(135deg) !important;
	-ms-transform:translateY(-200%) rotate(135deg) !important;
	transform:translateY(-200%) rotate(135deg) !important;
}

.menuppal.is_active{
  transform: translate3d(0px, 0px, 0px);
}
.menuppal{
   background-color: rgba(255, 255, 255, 0.95);
    bottom: 0;
    height: 100%;
    left: 0;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    transform: translate3d(0px, -100%, 0px);
    transition: transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
    width: 100%;
    z-index: 1001;
}
.menuppal ul{
  margin:0;padding:0;
}
.menuppal ul li { 
  list-style: none;
	text-align:center;
	font-family: Verdadna, Arial, Helvetica;
	color:#00B8D4;
	font-size:1.5rem;
	line-height:3em;
	height:3em;
	text-transform:none;
	font-weight:bold;
}
.menuppal ul li a{
  text-decoration:none;
  color:#959595;
}
.menuppal ul li a:hover{
  text-decoration:none;
  color:#0d6efd;
}

a {
  font-size: 16px;
  font-family: roboto;
  letter-spacing: 2px;
  font-weight: 600;
  color: #959595;
  transition: ease 0.5s;
}

.Snavbar a:hover {
  color: #2962FF;
}



/* ---------- ICONO MENU HAMBURGUESA -------------- */

.Sburger-menu .fa-bars {
  font-size: 28px;
  color: #00B8D4;
}

/* --------------- ESTILOS USUARIO --------------- */

.dataUser {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dataUser img {
  margin-left: 15px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.dataUser p {
  color: #1EA1F2;
  letter-spacing: 2px;
}

/* -------------- MENÚ DESPLEGABLE ------------ */

.user {
  position: relative;
  display: inline-block;
}

.actionUser {
  display: none;
  position: absolute;
  background-color: #fff;
  width: 125px;
  padding: 8px 8px;
  z-index: 1;
  border-bottom-right-radius: 5%;
  border-bottom-left-radius: 5%;
  transition: all 0.4s ease;
}

.user:hover .actionUser {
  display: block;
}

.actionUser h6 {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.actionUser a {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #2962FF;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* -------------- REDES SOCIALES FLOTANTES ------------ */

.sticky-social {
  position: fixed;
  top: 200px;
  left: 0;
  padding: 0px;
  margin: 0px;
}

.social {
  list-style: none;
}

.social li {
  padding: 10px 10px;
  font-size: 15px;
  transition: all 0.3s ease-in-out;
}

.social li:hover {
  margin-right: -20px;
}

.social li:hover .fa-brands {
  margin-left: 10px;
}

.fa-brands {
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.fb {
  background-color: #3C5A98;
}

.twitter {
  background-color: #1EA1F2;
}

.insta {
  background-color: #C13584;
}

.wpp {
  background-color: #25D366;
}

scroll-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 5em;
}


/*----Caja de registro-----*/

#errorsDiv p {
  color: #fff;
  font-size: 12px;
  margin-top: 10px;
  letter-spacing: 1px;
}

.Merrors {
  color: #ffffff;
  font-size: 11px;
  margin-bottom: 5px;
  font-weight: bold;
  letter-spacing: 0.5px;
  display: flex;
  justify-content: start;
  padding-top: 8px; 
}



.box 
{
	position: absolute;
	width: 400px;
	height: 845px;
	background: #1c1c1c;
	border-radius: 8px;
	overflow: hidden;
  margin-top: 140px;
  margin-left: 33px;
  align-items: center;
  z-index: 1;
}
.box::before 
{
	content: '';
	z-index: 1;
	position: absolute;
	top: -50%;
	left: -50%;
	width: 415px;
	height: 956px;
	transform-origin: bottom right;
	background: linear-gradient(0deg,transparent,#00B8D4,#00B8D4);
	animation: animate 6s linear infinite;
}
.box::after 
{
	content: '';
	z-index: 1;
	position: absolute;
	top: -50%;
	left: -50%;
	width: 415px;
	height: 956px;
	transform-origin: bottom right;
	background: linear-gradient(0deg,transparent,#00B8D4,#00B8D4);
	animation: animate 6s linear infinite;
	animation-delay: -3s;
}
@keyframes animate 
{
	0%
	{
		transform: rotate(0deg);
	}
	100%
	{
		transform: rotate(360deg);
	}

}

.is-invalid{
  border-color: #800000;
}

form {
	
	inset: 2px;
	background: #28292d;
	padding: 50px 40px;
	border-radius: 8px;
	z-index: 2;
	display: flex;
	flex-direction: column;
  align-items: center;
  position: absolute;
}

h2 {
	color: #00B8D4;
	font-weight: 500;
	text-align: center;
	letter-spacing: 0.1em;
}

.inputBox {
	position: relative;
	width: 400px;
  color:#8f8f8f;
  font-size: 13px;
	margin-top: 35px;
}

.inputBox input {
	position: relative;
	width: 100%;
  left: 20px;
	padding: 20px 10px 10px;
	background: transparent;
	outline: none;
	box-shadow: none;
	border: none;
	color: white;
	font-size: 1em;
	letter-spacing: 0.05em;
	transition: 0.5s;
	
}

.inputBox span {
	position: absolute;
	left: 0;
	padding: 20px 0px 10px;
	pointer-events: none;
	font-size: 1em;
	color: #8f8f8f;
	letter-spacing: 0.05em;
	transition: 0.5s;
}

.inputBox input:valid  span,
.inputBox input:focus  span 

{
	color: #00B8D4;
	transform: translateX(0px) translateY(-34px);
	font-size: 0.75em;
}

option{
  color: #fff;
}

.inputCountry {
  display: block;
  font-size: 16px;
  font-family: 'Arial', sans-serif;
  font-weight: 400;
  color: #fff;
  line-height: 1.3;
  padding: .4em 1.4em .3em .8em;
  width: 340px;
  max-width: 100%; 
  box-sizing: border-box;
  margin: 35px;
  margin-left: 15px;
  border: 1px solid #00b8d4;
  box-shadow: 0 1px 0 1px rgba(0,0,0,.03);
  border-radius: .3em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #28292d;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;
 }
 .inputCountry::-ms-expand {
  display: none;
 }
 .inputCountry:hover {
  border-color: #888;
 }
 .inputCountry:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px #00B8D4;
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222; 
  outline: none;
 }
 .inputCountry option {
  font-weight:normal;
 }

.inputTerms{
  display: flex;
	justify-content: space-between;
}

.inputBox i {
	position: absolute;
	left: 20px;
	bottom: 0;
	width: 340px;
	height: 2px;
	background: #00B8D4;
	border-radius: 4px;
	overflow: hidden;
	transition: 0.5s;
	pointer-events: none;
	z-index: 9;
}

.inputBox input:valid  i,
.inputBox input:focus  i 

{
	height: 44px;
}

.links{
  margin-top: 15px;
}


.links a {
	margin: 10px 0;
	font-size: 0.75em;
	color: #8f8f8f;
	text-decoration: beige;
}

.inputBox a{
  font-weight:100;
  color: #8f8f8f;
  font-size: 13px;
  letter-spacing: 0;
  font-weight: 600;
}

.inputBox a:hover{
  color:#00B8D4;
}

.links a:hover, 
.links a:nth-child(2)

{
	color: #00B8D4;
}

input[type="submit"] {
	border: none;
	outline: none;
	padding: 10px 20px;
	background: #00B8D4;
	cursor: pointer;
	border-radius: 4px;
	font-weight: 600;
	width: 150px;
	margin-top: 10px;
  color:#fff;
}

input[type="submit"]:active {
	opacity: 0.8;
}

input#imagen {
  color:#fff;
  width: 330px;
  padding: 5px;
  position: relative;
  left: -9px;
  border: 1px solid #00b8d4;
  border-radius: 5px;
}


/*------Cajas para completar login----*/



/*------Botones Login----*/

.boton {
  width: auto;
  height: 50px;
  background-color: #00B8D4;
  border: none;
  color: white;
  margin-bottom: 10px;
  border-radius: 5px;
  font-size: 17px;
  font-weight: bold;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 65px;
  transition: all 0.3s;
}

.boton:hover {
  transform: scale(0.99);
  background-color: #2962FF;
}

.jOlvidaste {
  height: 40px;
  text-align: center;
  border-bottom: 1px solid;
}

.jNoCuenta {
  height: 40px;
  text-align: center;
}

.jOlvidaste :hover {
  text-decoration: underline;
}

.jNoCuenta :hover {
  text-decoration: underline;
}

form a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}


/*-----Checkbox recuerdame----*/

.jRecuerdame {
  font-size: 10px;
  padding-left: 30px;
  padding-right: 10px;
  position: relative;
  right: 130px;
  color: #fff;
  display: flex;
  justify-content: flex-start;
  padding-top: 15px;
}

.jCheckbox {
  position: relative;
  top: 2px;
  right: 4px;
}

#jRecuerdame {
  width: 15px;
  height: 15px;
  box-shadow: 0.8px;
}

/*----- Estilos Footer-----*/

.Sfooter {
  width: 100%;
  background-color: #ececec;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 680px;
  position: absolute;
  bottom: 0;
}

.Sfooter div {
  padding-top: 20px;
  padding-bottom: 30px;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.Sfooter img {
  width: 100%;
}

.Sfooter h3 {
  color: #00B8D4;
  letter-spacing: 1px;
}

.Sfooter p {
  margin-top: 15px;
}




/*------Media Queries--------*/

/*---Media Querie Móvil-----*/

@media (min-width: 0px) and (max-width: 576px) {

  /* -------------- CABECERA ------------- */

  header img {
    width: 200px;
  }

  .Snavbar {
    display: none;
  }

  /* --------------- ESTILOS USUARIO --------------- */

  .user p {
    display: none;
    color: #1EA1F2;
    letter-spacing: 2px;
  }

  form {
    width: 79%;
    position: relative;
    left: 2.7%;
    bottom: 300px;
  }
}

.jRecuerdame {
  margin-top: 10px;
  font-size: 14px;
  position: relative;
  left: -13px;
  padding-bottom: 10px;
}

/*---Media Querie Tablet ---*/

@media (min-width: 577px) and (max-width: 899px) {

  header img {
    width: 350px;
  }

  .Snavbar {
    display: none;
  }

  form {
    width: 452px;
    position: relative;
    left: 0%;
    bottom: 300px;
  }
}

.Sfooter img {
  width: 50%;
}

.jRecuerdame {
  margin-top: 10px;
  font-size: 14px;
  position: relative;
  left: -13px;
  padding-bottom: 10px;
}

/*---Media Querie Desktop---*/

@media (min-width: 900px) and (max-width: 1920px) {

body {
  min-height: 176vh;
}




.box{
  height: 820px;
  width: 410px;

}

.box::after {
  height: 820px;
  width: 410px;
  
}

.box::before {
  height: 820px;
  width: 410px;
  
}




}

  /* -------------- CABECERA ------------- */
  
  .hamburger{
    display: none;
  }

  header {
    margin-bottom: 617px;
  }

  header img {
    width: 200px;
  }

  .fa-bars {
    display: none;
  }

  /* -------------- REDES SOCIALES FLOTANTES ------------ */

  .social li {
    padding: 10px 10px;
    transition: all 0.3s ease-in-out;
  }

  .social li:hover {
    margin-right: -30px;
  }

  .social li:hover .fa-brands {
    margin-left: 20px;
  }

  /* ---------------- ESTILOS USUARIOS ---------- */

  .dataUser i {
    display: none;
  }

  /* ---------------- PIE DE PAGINA ---------- */
 
  .Sfooter {
    top: 650px;
    position: relative;
  }

  .Sfooter div {
    margin-top: 65px;
    width: 30%;
    height: 150px;
    
  }

  .Sfooter img {
    width: 80%;
   
  }

