*{
    margin: 8px;
    padding: 3px;
    box-sizing: border-box;
    
   
} 

form{
    
    flex-wrap: wrap;
    width: 45%;
    margin: 0 auto;
    border-radius: 45%;
    background-color: #4B0082;
    font-family: cursive;
    text-align: center;
    
    
}

body{
    justify-content: center;
}

input{
    width: 40%;
    padding: 10px;
    margin: 25px;
    border-radius: 5px;
}



h3{
   color: white; 
   text-align: center;
   font-size: 30px;

}

.pais{
    color:aliceblue;
    padding: 15px;
    text-align: 20px;
}

.aceptoTerminos{
    text-align:center;
    position: relative;
    right: 170px;
}

