@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Varela+Round&display=swap');

*{
    font-family: roboto;
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
} 
/*----Titulo Registro----*/
form h3{
    margin: 0;
   color: white; 
   text-align: center;
   height: 40px;
   margin-bottom: 30px;
   border-bottom: 1px solid;
   font-size: 20px;
   

}

/*--- Estilos register.css---*/
form{
    width: 350px;
    height: 420px;
    background-color: #4e4d4d;
    margin: 0 auto;
    margin-top: 40px;
    box-shadow: 0px 0px 0px #9d9d9d;
    padding:  10px 20px;
    border-top: 4px solid #017bab;
    color: white;
    text-align: center;
    border-radius: 5px;
      
}

body{
    background-image: url("/images/Images_login_register/background-register.jpg");
    background-size: cover;
    
}

input{
    width: 90%;
    border: 1px solid white;
    margin-bottom: 15px;
    color:grey;
    height: 10px;
    padding: 11px 10px;
    font-size: 10px;
    font-weight: bold;
    border-radius: 5px;
    position: relative;
}

select{
    width: 90%;
    border: 1px solid white;
    margin-bottom: 15px;
    color:grey;
    height: 30px;
    padding: 7px 8px;
    font-size: 10px;
    font-weight: bold;
    border-radius: 5px;
    position: relative;

}

.estiloPais{
    font-family: roboto;
    
}

form p a{
    font-size: 10px;
    color: #fff;
    text-decoration: none;

}

.aceptoTerminos{
    font-size: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-align:start;   
}

#aceptoTerminos{
    width: 20px;
}

button{
    width: 100px;
    height: 40px;
    background-color: #017bab;
    border: none;
    color:white;
    margin-bottom: 10px;
    border-radius: 5px;
}



