@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Varela+Round&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: roboto;
}

/* -------------- CABECERA ------------- */

header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 80px;
    box-shadow: 0px 1px 5px #a3a3a3;
    background-color: #fff;
    position: fixed;
}

.navbar{
    width: 70%;
    display: flex;
    justify-content: space-around;
}

/* -------------- ESTILOS ITEMS MENU ------------- */

a{
    font-family: roboto;
    letter-spacing: 2px;
    font-weight: 600;
    color: #959595;
    transition: ease 0.5s;
}

.navbar a:hover{
    color: #2962FF;
}

/* ---------- ICONO MENU HAMBURGUESA -------------- */

.fa-bars{
    font-size: 28px;
    color: #2962FF;
}

/* ---------------- SLIDE ---------- */

.carrusel img{
    width: 100%;
}

/* ---------------- SECCIÓN PRICIPAL HOME ---------- */

.seccionPrincipalHome{
    text-align: center;
    width: 90%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;

}

.seccionPrincipalHome h1{
   font-size: 40px;
   color: #2962FF;
}

.seccionPrincipalHome p{
    margin-top: 20px;
    font-size: 18px;

}

/* ---------------- CATEGORIAS DESTACADAS ---------- */

.categoriasDestacadas{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 15px;
}

.categoriasDestacadas div{
    margin-top: 7px;
    margin-bottom: 7px;
    width: 100%;
    height: 350px;
    box-shadow: 0px 0px 5px #9d9d9d;
    border-radius: 10px;
}

/* ---------------- PRODUCTOS DESTACADOS ---------- */

.seccionProductosHome{
    text-align: center;
    width: 90%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.seccionProductosHome h2{
    font-size: 36px;
    color: #2962FF;
 }
 
 .seccionProductosHome p{
     margin-top: 20px;
     font-size: 18px;
 
 }


/* ---------- MEDIA QUERY ----------- */


@media (min-width: 0px) and (max-width: 576px){

    header img{
        width: 200px;
    }

    .navbar{
        display: none;
    }
}

@media (min-width: 577px) and (max-width: 768px){

    header img{
        width: 350px;
    }

    .navbar{
        display: none;
    }

    .seccionPrincipalHome{
        width: 90%;
    }

    .categoriasDestacadas div{
        width: 48%;
        height: 300px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
} 

@media (min-width: 769px) and (max-width: 1920px){

    header img{
        width: 350px;
    }

    .fa-bars{
        display: none;
    }

    .seccionPrincipalHome{
        width: 70%;
    }

    .categoriasDestacadas div{
        width: 24%;
        height: 350px;
    }
} 
