<!-------- PIE DE PAGINA -------->
<footer class="Sfooter">
    <div>
        <img src="/images/LogoGlobalTech-blanco.png" alt="Logo Global Tech">
    </div>
    <div class="Smapa">
        <h3>MAPA DEL SITIO</h3>
        <a href="/">INICIO</a>
        <a href="/about-us">SOBRE NOSOTROS</a>
        <a href="/products">CATÁLOGO DE PRODUCTOS</a>
        <a href="/products/cart">CARRITO DE COMPRAS</a>
    </div>
    <div>
       <h3>DATOS DE CONTACTO</h3>
       <p><strong>Ubicación: </strong>Medellín, Colombia</p>
       <p><strong>Email: </strong>globaltech@outlook.com</p>
       <p><strong>Teléfono: </strong> 3238459671</p>
    </div>
</footer> 