<!-------- PIE DE PAGINA -------->
<footer class="Sfooter">
    <div>
        <img src="images/LogoGlobalTech.png" alt="Logo Global Tech">
    </div>
    <div>
        <h3>MAPA DEL SITIO</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
            Totam nobis, nostrum laborum cum minus deserunt similique facere harum. 
            Mollitia, eveniet impedit iusto ab sequi temporibus 
            quaerat eligendi necessitatibus laborum vitae!</p>
    </div>
    <div>
       <h3>DATOS DE CONTACTO</h3>
       <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
           Totam nobis, nostrum laborum cum minus deserunt similique facere harum. 
           Mollitia, eveniet impedit iusto ab sequi temporibus 
           quaerat eligendi necessitatibus laborum vitae!</p>
    </div>
</footer> 