<header>
    
    <!-------- LOGO -------->
    <a href="/"><img src="/images/Logo-letras.png" alt="Logo Global Tech"></a>
    <!-------- NAVBAR -------->
    <nav class="Snavbar">
        <a href="/">INICIO</a>
        <a href="#">SOBRE NOSOTROS</a>
        <a href="/products"></i></i>CATÁLOGO DE PRODUCTOS</a>
        <a href="/products/cart"><i class="fa-solid fa-cart-shopping"></i> CARRITO DE COMPRAS</a>
        <a href="/register">REGISTRO</a>
        <a href="/login">LOGIN</a>
    </nav>

    <!-------- ICONO MENU HAMBURGUESA -------->
    <div class="Sburger-menu">
        <i class="fas fa-bars"></i>
    </div>

</header>