<header>
    
    <!-------- LOGO -------->
    <a href="/"><img src="/images/Logo-letras.png" alt="Logo Global Tech"></a>
    <!-------- NAVBAR -------->
    <nav class="Snavbar">
        <a href="/"><i class="fa-solid fa-house-user"></i> INICIO</a>
        <a href="/about-us"><i class="fa-solid fa-user-group"></i> SOBRE NOSOTROS</a>
        <a href="/products"><i class="fa-solid fa-shop"></i> CATÁLOGO DE PRODUCTOS</a>
        <a href="/products/cart"><i class="fa-solid fa-cart-shopping"></i> CARRITO DE COMPRAS</a>
        <% if(!locals.userLogged) {%> 
            <a href="/user/register"><i class="fa-solid fa-rectangle-list"></i> REGISTRO</a>
            <a href="/user/login"><i class="fa-solid fa-address-card"></i> LOGIN</a>
        <% } %> 
    </nav>

      <!-------- ICONO Y NOMBRE USUARIO -------->
      
      <% if(locals.userLogged) {%>
        <div class="user">
            <div class="dataUser">
                <p><%= locals.userLogged.nombreusuario %> </p>
                <i class="fa-solid fa-caret-down"></i>
                <img src="/images/images_user/<%= locals.userLogged.imagen %>" alt="Usuario">  
            </div>
            <div class="actionUser">
                <h6><a href="/user/userProfile/<%= locals.userLogged.idusuarios %> ">Mi Perfil</a></h6>
                <hr>
                <h6><a href="/user/logout">Cerrar Sesión</a> </h6>
            </div>
        </div>
 <% } %> 
    <!-------- ICONO MENU HAMBURGUESA -------->
    <div class="Sburger-menu">
        <i class="fas fa-bars"></i>
    </div>

</header>