<div class="sticky-social">
        <ul class="social">
          <li class="fb"><a href="#"><i class="fa-brands fa-facebook-f" aria-hidden="true"></i></a></li>
              <li class="twitter"><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
            <li class="insta"><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
            <li class="wpp"><a href="#"><i class="fa-brands fa-whatsapp"></i></i></a></li>
          </ul>
    </div>