<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images/Favicon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/about.css">
    <title>Sobre nosotros</title>
</head>
<body>
       <!-------- MENU DE NAVEGACIÓN -------->
       <%- include("./partials/header.ejs")%>

       <!-------- REDES SOCIALES -------->
       <%- include("./partials/social.ejs")%>

        <!-------- SECCIÓN PRINCIPAL -------->
        <section class="SseccionPrincipalAbout">
            <h1>SOBRE NOSOTROS</h1>
            <p>La página Global Tech, nació de la necesidad que tiene el mercado de los Gamers y desarrolladores de encontrar los productos para los set ups que tanto les gustan y necesitan, Se pensó en una  pagina web, buscando así mas comodidad para el publico a la hora de visualizar los productos. Contamos con excelentes  precios que sean justos entre la competencia , se acomoden a todo tipo de presupuesto y con envíos seguros a cualquier destino.</p>
        </section>


       <!-------- TARJETAS QUIENES SOMOS -------->

       <main class="Scontenedor">

        <div class="Scard">
            <div class="ScardContenedor">
              <div class="ScardFront">
                <img src="/images/images_user/avatar-1659488190243.jpeg" alt="Avatar">
              </div>
              <div class="ScardBack">
                <h5>Mariana Quintero</h5> 
                <p>Estudiante de estadística, fotógrafa y aficionada por el baile, la natación  y el aprendizaje de nuevas cosas.</p> 
                <p>Espacio para repositorio o redes sociales</p>
              </div>
            </div>
          </div>

          <div class="Scard">
            <div class="ScardContenedor">
              <div class="ScardFront">
                <img src="/images/images_user/avatar-1659488190243.jpeg" alt="Avatar">
              </div>
              <div class="ScardBack">
                <h5>Camilo Valencia</h5> 
                <p>Estudiante de Ing. de Sistemas de la UdeA, apasionado por la música desde la perspectiva histórica, intento de ilustrador y bibliotecario.</p> 
                <p>Espacio para repositorio o redes sociales</p>
              </div>
            </div>
          </div>

          <div class="Scard">
            <div class="ScardContenedor">
              <div class="ScardFront">
                <img src="/images/images_user/avatar-1659488190243.jpeg" alt="Avatar">
              </div>
              <div class="ScardBack">
                <h5>Juan Gutierrez</h5> 
                <p>Administrador de empresas, estudiante de desarrollo Full Stack, aficionado a los videojuegos.</p> 
                <p>Espacio para repositorio o redes sociales</p>
              </div>
            </div>
          </div>

          <div class="Scard">
            <div class="ScardContenedor">
              <div class="ScardFront">
                <img src="/images/images_user/avatar-1659488190243.jpeg" alt="Avatar">
              </div>
              <div class="ScardBack">
                <h5>Mateo Roldan</h5> 
                <p>Estudiante de desarrollo Full Stack en Digital House, me gustan los videos juegos, ver plataformas de stream y navegar en la web.</p> 
                <p>Espacio para repositorio o redes sociales</p>
              </div>
            </div>
          </div>

          <div class="Scard">
            <div class="ScardContenedor">
              <div class="ScardFront">
                <img src="/images/images_user/avatar-1659488190243.jpeg" alt="Avatar">
              </div>
              <div class="ScardBack">
                <h5>Sebastián Jiménez</h5> 
                <p>Diseñador gráfico y productor de multimedias, amante de los videojuegos y el cine, futuro desarrollador Full Stack.</p> 
                <p>Espacio para repositorio o redes sociales</p>
              </div>
            </div>
          </div>

       </main>
      
       <!-------- PIE DE PAGINA -------->
       <%- include("./partials/footer.ejs")%>
</body>
</html>