<!DOCTYPE html>
<html lang="en">
<!---head-->

<%- include("./partials/head.ejs", {title:"Sobre nosotros", css:"/css/about.css"})%>

<body>
       <!-------- MENU DE NAVEGACIÓN -------->
       <%- include("./partials/header.ejs")%>

       <!-------- REDES SOCIALES -------->
       <%- include("./partials/social.ejs")%>

        <!-------- SECCIÓN PRINCIPAL -------->
        <section class="SseccionPrincipalAbout">
            <h1>  NUESTRO EQUIPO DE TRABAJO  </h1>
            <p>La página Global Tech, nació de la necesidad que tiene el mercado de los Gamers y desarrolladores de encontrar los productos para los set ups que tanto les gustan y necesitan. Se pensó en una  pagina web, buscando así mas comodidad para el público a la hora de visualizar los productos. Contamos con excelentes  precios que sean justos entre la competencia, se acomoden a todo tipo de presupuesto y con envíos seguros a cualquier destino.</p>
        </section>


       <!-------- TARJETAS QUIENES SOMOS -------->

       <main class="Scontenedor">

        <div class="Scard">
            <div class="ScardContenedor">
              <div class="ScardFront">
                <img src="/images/images_user/about-Mariana.png" alt="Avatar">
              </div>
              
              <div class="ScardBack">
                <h5>Mariana Quintero</h5>
                <p>Estudiante de estadística, Desarrolladora Web Full Stack, fotógrafa y aficionada por el baile, la natación  y el aprendizaje de nuevas cosas.</p> 
                <p><b> CONTACTA A NUESTRO EQUIPO</b></p>
              </div>
            </div>
            <p>mqcyd09@gmail.com</p>
            <p>+57 3012310046</p>
          </div>

          <div class="hrStyle"> <hr></div>
          

          <div class="Scard">
            <div class="ScardContenedor">
              <div class="ScardFront">
                <img src="/images/images_user/GTCamilo.png" alt="Avatar">
              </div>
              <div class="ScardBack">
                <h5>Camilo Valencia</h5> 
                <p>Estudiante de Ing. de Sistemas de la UdeA, Desarrollador Web Full Stack, apasionado por la música desde la perspectiva histórica, intento de ilustrador y bibliotecario.</p> 
                <p><b> CONTACTA A NUESTRO EQUIPO</b></p>
              </div>
            </div>
            <p>cavalenciad@outlook.com</p>
            <p>+57 3507596963</p>
          </div>

          <div class="hrStyle"> <hr></div>

          <div class="Scard">
            <div class="ScardContenedor">
              <div class="ScardFront">
                <img src="/images/images_user/GTJuanMa.png" alt="Avatar">
              </div>
              <div class="ScardBack">
                <h5>Juan Gutierrez</h5> 
                <p>Administrador de empresas, Desarrollador Web Full Stack, aficionado a los videojuegos.</p> 
                <p><b> CONTACTA A NUESTRO EQUIPO</b></p>
              </div>
            </div>
            <p>j.gutierrezv08@gmail.com</p>
            <p>+57 3015663222</p>
          </div>

          <div class="hrStyle"> <hr></div>

          <div class="Scard">
            <div class="ScardContenedor">
              <div class="ScardFront">
                <img src="/images/images_user/GTMateo.png" alt="Avatar">
              </div>
              <div class="ScardBack">
                <h5>Mateo Roldan</h5> 
                <p>Soy Desarrollador Web Full Stack, apasionado por la investigación, video juegos y el mundo de las inversiones.  </p> 
                <p><b> CONTACTA A NUESTRO EQUIPO</b></p>
              </div>
            </div>
            <p>teo781@hotmail.com</p>
            <p>+57 3136137647</p>
          </div>

          <div class="hrStyle"> <hr></div>

          <div class="Scard">
            <div class="ScardContenedor">
              <div class="ScardFront">
                <img src="/images/images_user/GTSebastian.png" alt="Avatar">
              </div>
              <div class="ScardBack">
                <h5>Sebastián Jiménez</h5> 
                <p>Diseñador gráfico y productor de multimedias, amante de los videojuegos y el cine, Desarrollador Web Full Stack.</p> 
                <p><b> CONTACTA A NUESTRO EQUIPO</b></p>
              </div>
            </div>
            <p>sebastianjm1040@gmail.com</p>
            <p>+57 3008292778</p>
          </div>
          <div class="hrStyle"> <hr></div>
       </main>
      
       <!-------- PIE DE PAGINA -------->
       <%- include("./partials/footer.ejs")%>
</body>
</html>