<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images/Favicon.png">
    <link href="css/createProducts.css" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" 
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" 
      crossorigin="anonymous" referrerpolicy="no-referrer" rel="stylesheet"/>
    <title>FORMULARIO DE PRODUCTOS</title>
</head>
<body>

<!-------- MENU DE NAVEGACIÓN -------->
<%- include("./partials/header.ejs")%>


    <div class="QimagenFondo">
        <form action="/createProducts" method="post" class="QformProducts" enctype="multipart/form-data">
            <h3>Agregar productos</h3>
            
            <!----CAJA DE FORMULARIO----->
            
            <div class="QcompletarFormulario">
                <input placeholder="Nombre" type="text" name="name" id="name" required>
            </div>

            <div class="QcompletarFormulario">
                <input placeholder="ID" type="number" name="id" id="id" required>
            </div>
            
            <div class="QcompletarFormulario">
                <textarea placeholder="Descripción" name="description" id="description" rows="8" cols="49" required></textarea>
            </div>
            
            <div class="QimagenFormulario">
            <div class="QdivInterno">
                <label class="Qimagenes">Imagen 1</label>
                <input type="file" name="imagen" id="imagen">
                
            </div>

            <div class="QdivInterno">
                <label class="Qimagenes">Imagen 2</label>
                <input type="file" name="imagen" id="imagen">
            </div>

            <div class="QdivInterno">
                <label class="Qimagenes">Imagen 3</label>
                <input type="file" name="imagen" id="imagen">
            </div>

            <div class="QdivInterno">
                <label class="Qimagenes">Imagen 4</label>
                <input type="file" name="imagen" id="imagen">
            </div>
            </div>

            <div class="QcompletarFormulario">
                <label class="Qcategorias">Categoría</label>
                <select name="Categorias" class="Qcategorias"> 
                    <option value="Portatiles Gamer">Portatiles Gamer</option>
                    <option value="Accesorios y Perifericos">Accesorios y Periféricos</option>
                    <option value="Celulares Gamer">Celulares Gamer</option>
                    <option value="Hardware">Hardware</option>
                    <option value="Consolas">Consolas</option>
                </select>
            </div>

            <div class="QcompletarFormulario">
                <input placeholder="Color" type="text" name="color" id="color" required>
            </div>

            <div class="QcompletarFormulario">
                <input placeholder="Precio" type="number" name="precio" id="precio" required>
            </div>

            <!-------- BOTONES -------->

            <div class="Qboton">
                <input type="submit" id="Cargar producto" value="Cargar producto">
            </div>
        </form>
    </div>
     <!--- FOOTER: PIE DE PÁGINA --->
     <%- include("./partials/footer.ejs")%>
</body>
</html>