<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images/Favicon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/styles.css">
    <title>Bienvenido a Global Tech</title>
</head>
<body>
    <header>
        
        <!-------- LOGO -------->
        <img src="images/Logo-letras.png" alt="Logo Global Tech">
        <!-------- NAVBAR -------->
        <nav class="Snavbar">
            <a href="/">INICIO</a>
            <a href="#">SOBRE NOSOTROS</a>
            <a href="/productDetail"></i></i>DETALLE DE PRODUCTO</a>
            <a href="/productCart"><i class="fa-solid fa-cart-shopping"></i> CARRITO DE COMPRAS</a>
            <a href="/registro">REGISTRO</a>
            <a href="/login">LOGIN</a>

        </nav>
        <!-------- ICONO MENU HAMBURGUESA -------->
        <div class="Sburger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>

    <!-------- REDES SOCIALES -------->
    <%- include("./partials/social.ejs")%>

    

    <!-------- SLIDE -------->
    <div class="Scarrusel">
        <img src="images/images_index/slide-2.jpg" alt="Control Xbox One">
        <!--<img src="images/images_index/slide-2.jpg" alt="Control Xbox One">
        <img src="images/images_index/slide-3.jpg" alt="Control Xbox One">
        <img src="images/images_index/slide-4.jpg" alt="Control Xbox One">-->
    </div>

    <!-------- SECCIÓN PRINCIPAL -------->
    <section class="SseccionPrincipalHome">
        <h1><i class="fa-solid fa-gamepad-modern"></i>CATEGORÍAS DE PRODUCTOS</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Suscipit iusto, nostrum, necessitatibus nihil quibusdam tempora esse sapiente velit temporibus 
        excepturi assumenda, neque vero expedita. Aspernatur architecto excepturi iste maxime ipsam.</p>
    </section>

    <!-------- SECCIÓN PRODUCTOS DESTACADOS -------->
    <div class="ScategoriasDestacadas">
        <div class="Scategoria">
            <a href="#">
                <img src="images/images_index/headset.png" alt="Icono perifericos">
                <p>Periféricos</p>
            </a>
        </div>
        <div class="Scategoria">
            <a href="#">
                <img src="images/images_index/gaming.png" alt="Icono laptop">
                <p>Portatiles</p>
            </a>
        </div>
        <div class="Scategoria">
            <a href="#">
                <img src="images/images_index/graphic-card.png" alt="Tarjeta grafica">
                <p>GPU</p>
            </a>
        </div>
        <div class="Scategoria">
            <a href="#">
                <img src="images/images_index/keyboard.png" alt="Teclado">
                <p>Teclados</p>
            </a>
        </div>
        <div class="Scategoria">
            <a href="#">
                <img src="images/images_index/console.png" alt="Consola">
                <p>Consolas</p>
            </a>
        </div>
        <div class="Scategoria">
            <a href="#">
                <img src="images/images_index/mobile-game.png" alt="Celular gamer">
                <p>Celulares</p>
            </a>
        </div>
        <div class="Scategoria">
            <a href="#">
                <img src="images/images_index/screen.png" alt="Pantalla">
                <p>Pantallas</p>
            </a>
        </div>
        <div class="Scategoria">
            <a href="#">
                <img src="images/images_index/pc-tower.png" alt="Torre pc">
                <p>Chasis</p>
            </a>
        </div>
    </div>

    <!-------- SECCIÓN PRODUCTOS HOME -------->
    <section class="SseccionProductosHome">
        <h2>PRODUCTOS MÁS VENDIDOS</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Suscipit iusto, nostrum, necessitatibus nihil quibusdam tempora esse sapiente velit temporibus 
        excepturi assumenda, neque vero expedita.</p>
    </section>

    <div class="SproductosDestacados">
        <div class="Sproducto">
            <img src="images/images_index/play5.jpg" alt="Playstation 5">
            <h4>Playstation 5 + mando</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Suscipit iusto, nostrum, necessitatibus nihil quibusdam tempora esse sapiente velit temporibus 
                excepturi assumenda, neque vero expedita.</p>
                <p class="Sprecio">$ 3.600.000</p>
                <a href="/"><i class="fas fa-info-circle"></i> Más información</a>
        </div>
        <div class="Sproducto">
            <img src="/images/images_index/diedemas.png" alt="Perifericos">
            <h4>Audifonos Gamer</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Suscipit iusto, nostrum, necessitatibus nihil quibusdam tempora esse sapiente velit temporibus 
                excepturi assumenda, neque vero expedita.</p>
                <p class="Sprecio">$ 400.000</p>
                <a href="/"><i class="fas fa-info-circle"></i> Más información</a>
        </div>
        <div class="Sproducto">
            <img src="images/images_index/Gaming-laptop.png" alt="portatil gamer">
            <h4>MSI GE76 Raider</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Suscipit iusto, nostrum, necessitatibus nihil quibusdam tempora esse sapiente velit temporibus 
                excepturi assumenda, neque vero expedita.</p>
                <p class="Sprecio">$ 11.500.000</p>
                <a href="/"><i class="fas fa-info-circle"></i> Más información</a>
        </div>
        <div class="Sproducto">
            <img src="images/images_index/chasis.jpg" alt="Torre pc">
            <h4>Thermaltake View 51</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Suscipit iusto, nostrum, necessitatibus nihil quibusdam tempora esse sapiente velit temporibus 
                excepturi assumenda, neque vero expedita.</p>
                <p class="Sprecio">$ 1.050.000</p>
                <a href="/"><i class="fas fa-info-circle"></i> Más información</a>
        </div>
    </div>

    <div class="Sfondo">
        <p class="StituloFondo">CONOCE TODOS NUESTROS PRODUCTOS</p>
        <p class="StextoFondo"> Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Asperiores expedita quam esse dolore fugit voluptatibus nam sint, 
            delectus rerum veniam officiis mollitia iste sapiente assumenda 
            facere ipsum sunt dignissimos ab?</p>
            <a href="/"><i class="fas fa-info-circle"></i> Más información</a>
      </div>

     <!-------- PIE DE PAGINA -------->

     <footer class="Sfooter">
         <div>
             <img src="images/LogoGlobalTech.png" alt="Logo Global Tech">
         </div>
         <div>
             <h3>MAPA DEL SITIO</h3>
             <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                 Totam nobis, nostrum laborum cum minus deserunt similique facere harum. 
                 Mollitia, eveniet impedit iusto ab sequi temporibus 
                 quaerat eligendi necessitatibus laborum vitae!</p>
         </div>
         <div>
            <h3>DATOS DE CONTACTO</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                Totam nobis, nostrum laborum cum minus deserunt similique facere harum. 
                Mollitia, eveniet impedit iusto ab sequi temporibus 
                quaerat eligendi necessitatibus laborum vitae!</p>
         </div>
     </footer> 

</body>
</html>