<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images/Favicon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/styles.css">
    <title>Global Tech</title>
</head>
<body>
    <header>
        <!-------- LOGO -------->
        <img src="images/Logo-letras.png" alt="Logo Global Tech">
        <!-------- NAVBAR -------->
        <nav class="navbar">
            <a href="index.html">INICIO</a>
            <a href="index.html">QUIÉNES SOMOS</a>
            <a href="productDetail.html">DETALLE DE PRODUCTO</a>
            <a href="productCart.html">CARRITO DE COMPRAS</a>
        </nav>
        <!-------- ICONO MENU HAMBURGUESA -------->
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
       
    </header>
</body>
</html>