<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images/Favicon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/styles.css">
    <title>Global Tech</title>
</head>
<body>
    <header>
        <!-------- LOGO -------->
        <img src="images/Logo-letras.png" alt="Logo Global Tech">
        <!-------- NAVBAR -------->
        <nav class="navbar">
            <a href="/">INICIO</a>
            <a href="#">QUIÉNES SOMOS</a>
            <a href="/productDetail">DETALLE DE PRODUCTO</a>
            <a href="/productCart">CARRITO DE COMPRAS</a>
        </nav>
        <!-------- ICONO MENU HAMBURGUESA -------->
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>

    <!-------- SLIDE -------->
    <div class="carrusel">
        <img src="images/images_index/slide-4.jpg" alt="Control Xbox One">
    </div>

    <!-------- SECCIÓN PRINCIPAL -------->
    <section class="seccionPrincipalHome">
        <h1>BIENVENID@ A GLOBAL TECH</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Suscipit iusto, nostrum, necessitatibus nihil quibusdam tempora esse sapiente velit temporibus 
        excepturi assumenda, neque vero expedita. Aspernatur architecto excepturi iste maxime ipsam.</p>
    </section>

    <!-------- SECCIÓN PRODUCTOS DESTACADOS -------->
    <div class="categoriasDestacadas">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>

    <!-------- SECCIÓN PRODUCTOS HOME -------->
    <section class="seccionProductosHome">
        <h2>BIENVENID@ A GLOBAL TECH</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Suscipit iusto, nostrum, necessitatibus nihil quibusdam tempora esse sapiente velit temporibus 
        excepturi assumenda, neque vero expedita. Aspernatur architecto excepturi iste maxime ipsam.</p>
    </section>


    

</body>
</html>