<!DOCTYPE html>
<html lang="en">
    <!---head-->
    <%- include("./partials/head.ejs", {title:"Carrito de compras", css:"/css/productCart.css"})%>

<body>

    <!--MENU DE NAVEGACIÓN-->
    <%- include("./partials/header.ejs")%>

    <!-------- REDES SOCIALES -------->
    <%- include("./partials/social.ejs")%>


    <!-------banner------>
    <div id="Qtituloenbaner">
        <img src="../images/m.jpg" alt="banner carrito de compras" class="Qcabecera">
        <a href="" class="Qtitulo">CARRITO DE COMPRAS<i class="fa-solid fa-cart-shopping"></i></a>
    </div>

    

    <div class="QlistadoyCantidad">
        <p>Listado de productos</p>
        <p class="Qcantidad">Cantidad</p>
    </div>

    

    <div class="Qcontenedor">

            <!---------Productos-------->
            
            

            
    </div>
    <!--------total carrito--------->
    

    <div class="Qtotalcarrito">
        <div>
            <p><b>TOTAL DEL CARRITO</b></p>
            <p class="Qsubtotal">Subtotal: $000.000</p>
            <p>Total a pagar: $000.000 </p>
        </div>
        <div class="Qbotondecompra">
            <button class="QbotonComprafinal">COMPRAR</button>
        </div>
    </div>

    <!-------- PIE DE PAGINA -------->

    <%- include("./partials/footer.ejs")%>
    <script src="/js/carritoFront.js"></script>
</body>
</html>