<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de compras</title>
    <link rel="stylesheet" href="/css/productCart.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>

    <!--elementos cabecera-->
    <header>
         <!-------- LOGO -------->
         <img src="images/Logo-letras.png" alt="Logo Global Tech">
         <!-------- NAVBAR -------->
         <nav class="navbar">
             <a href="index.html">INICIO</a>
             <a href="index.html">QUIÉNES SOMOS</a>
             <a href="productDetail.html">DETALLE DE PRODUCTO</a>
             <a href="productCart.html">CARRITO DE COMPRAS</a>
         </nav>
         <!-------- ICONO MENU HAMBURGUESA -------->
         <div class="burger-menu">
             <i class="fas fa-bars"></i>
         </div>
        
    
    </header>

    <img src="images/images_productCart/banner-productCart.jpg" alt="banner carrito de compras" class="Qcabecera">
    <h1 class="Qtitulo">CARRITO DE COMPRAS</h1>

    <div class="QlistadoyCantidad">
        <p>Listado de productos</p>
        <p>Cantidad</p>
    </div>
    <div class="Qcontenedor">

            
            <div class="Qproducto1">
                <img src="images/images_productCart/mouse.jpg">
                <div class="QtextoProducto1">
                    <p>Nombre producto: producto #1</p>
                    <p>Precio: $000.000</p>
                    <p>Eliminar</p>
                </div>
                <button>- +</button>
            </div>

            
            <div class="Qproducto2">
            
                <img src="images/images_productCart/audifonos (1).jpg">
                <div class="QtextoProducto2">
                    <p>Nombre producto: producto #2</p>
                    <p>Precio: $000.000</p>
                    <p>Eliminar</p>
                </div>
                    <button>- +</button>
                
            </div>

            
            <div class="Qproducto3">
                <img src="images/images_productCart/palanca.jpg">
                <div class="QtextoProducto3">
                    <p>Nombre producto: producto #3</p>
                    <p>Precio: $000.000</p>
                    <p>Eliminar</p>
                </div>
                <button>- +</button>
            </div>

        
    </div>
    <div class="Qtotalcarrito">
        <div>
            <p><b>TOTAL DEL CARRITO</b></p>
            <p>Subtotal: $000.000</p>
            <p>Total a pagar: $000.000 </p>
        </div>
        <div class="Qbotondecompra">
            <button>Comprar</button>
        </div>
    </div>
</body>
</html>