<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
    <link rel="stylesheet" href="/css/productDetail.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <!-------- LOGO -------->
        <img src="images/Logo-letras.png" alt="Logo Global Tech">
        <!-------- NAVBAR -------->
        <nav class="navbar">
            <a href="index.html">INICIO</a>
            <a href="index.html">QUIÉNES SOMOS</a>
            <a href="productDetail.html">DETALLE DE PRODUCTO</a>
            <a href="productCart.html">CARRITO DE COMPRAS</a>
        </nav>
        <!-------- ICONO MENU HAMBURGUESA -------->
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
       
    </header>

    <!--
    <nav>
        <ul>
            <li>Item menu #1</li>
            <li>Item menu #2</li>
            <li>Item menu #3</li>
            <li>Item menu #4</li>
          </ul>
    </nav>
    -->

    <main>
        <div>
            <div class="imagen">
                <h1>Detalle del producto</h1>
            </div>
            
        </div>
        <section class="container">
            <div class="productImage">
                <div class="bigImage"></div>
                <div class="bigImageDescription">
                    <div class="imageDescription"></div>
                    <div class="imageDescription"></div>
                    <div class="imageDescription"></div>
                    <div class="imageDescription"></div>
                </div>
            </div>
            <div class="productDescription">
                <div class="textDescription">
                    <h2>Nombre Producto</h2>
                    <p>Precio: $$$</p>
                </div>
                <div>
                    <input type="text" placeholder="Color" class="colorSeleccion">
                    <div class="blockDescription">
                        <button class="masProductos">- +</button>
                        <button class="carrito">Botón Carrito</button>
                    </div>
                    <button class="compra">Botón Compra</button>
                </div>
                <div class="textDescription">
                    <h3>Descripción producto</h3><br>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus accusamus quia quod tenetur pariatur rerum labore dignissimos, dicta enim debitis, dolor ducimus officia voluptate possimus natus ullam, laudantium laboriosam id!</p><br>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus accusamus quia quod tenetur pariatur rerum labore dignissimos, dicta enim debitis, dolor ducimus officia voluptate possimus natus ullam, laudantium laboriosam id!</p><br>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus accusamus quia quod tenetur pariatur rerum labore dignissimos, dicta enim debitis, dolor ducimus officia voluptate possimus natus ullam, laudantium laboriosam id!</p><br>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus accusamus quia quod tenetur pariatur rerum labore dignissimos, dicta enim debitis, dolor ducimus officia voluptate possimus natus ullam, laudantium laboriosam id!</p>
                </div>
            </div>
        </section>

    </main>
</body>
</html>