<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images/Favicon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/productList.css">
    <title>Listado de Productos</title>
</head>
<body>
     <!-------- MENU DE NAVEGACIÓN -------->
     <%- include("./partials/header.ejs")%>

     <!-------- REDES SOCIALES -------->
     <%- include("./partials/social.ejs")%>

    <!-- Categoría Consolas -->

    <section class="categories">
        <h2>Consolas de Video Juegos</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Suscipit iusto, nostrum, necessitatibus nihil quibusdam tempora esse sapiente velit temporibus 
        excepturi assumenda, neque vero expedita.</p>
    </section>

    <div class="consoles">
        <div class="consolesDetail">
            <div class="boxImage"></div>
            <h4>Consola 1</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Suscipit iusto, nostrum, necessitatibus nihil quibusdam tempora esse sapiente velit temporibus 
            excepturi assumenda, neque vero expedita.</p>
            <p class="price">$ 0'000.000</p>
            <a href="/"><i class="fas fa-info-circle"></i> Más información</a>
        </div>
        <div class="consolesDetail">
            <div class="boxImage"></div>
            <h4>Consola 2</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Suscipit iusto, nostrum, necessitatibus nihil quibusdam tempora esse sapiente velit temporibus 
            excepturi assumenda, neque vero expedita.</p>
            <p class="price">$ 0'000.000</p>
            <a href="/"><i class="fas fa-info-circle"></i> Más información</a>
        </div>
        <div class="consolesDetail">
            <div class="boxImage"></div>
            <h4>Consola 3</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Suscipit iusto, nostrum, necessitatibus nihil quibusdam tempora esse sapiente velit temporibus 
            excepturi assumenda, neque vero expedita.</p>
            <p class="price">$ 0'000.000</p>
            <a href="/"><i class="fas fa-info-circle"></i> Más información</a>
        </div>
        <div class="consolesDetail">
            <div class="boxImage"></div>
            <h4>Consola 4</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Suscipit iusto, nostrum, necessitatibus nihil quibusdam tempora esse sapiente velit temporibus 
            excepturi assumenda, neque vero expedita.</p>
            <p class="price">$ 0'000.000</p>
            <a href="/"><i class="fas fa-info-circle"></i> Más información</a>
        </div>
        <div class="consolesDetail">
            <div class="boxImage"></div>
            <h4>Consola 5</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Suscipit iusto, nostrum, necessitatibus nihil quibusdam tempora esse sapiente velit temporibus 
            excepturi assumenda, neque vero expedita.</p>
            <p class="price">$ 0'000.000</p>
            <a href="/"><i class="fas fa-info-circle"></i> Más información</a>
        </div>
    </div>

    <!-- Categoría Periféricos y Accesorios -->

    <section class="categories">
        <h2>Periféricos y Accesorios</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Suscipit iusto, nostrum, necessitatibus nihil quibusdam tempora esse sapiente velit temporibus 
        excepturi assumenda, neque vero expedita.</p>
    </section>

    <div class="accesories">
        <div class="accesoriesDetail">
            <div class="boxImage"></div>
            <h4>Accesorio 1</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Suscipit iusto, nostrum, necessitatibus nihil quibusdam tempora esse sapiente velit temporibus 
            excepturi assumenda, neque vero expedita.</p>
            <p class="price">$ 0'000.000</p>
            <a href="/"><i class="fas fa-info-circle"></i> Más información</a>
        </div>
        <div class="accesoriesDetail">
            <div class="boxImage"></div>
            <h4>Accesorio 2</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Suscipit iusto, nostrum, necessitatibus nihil quibusdam tempora esse sapiente velit temporibus 
            excepturi assumenda, neque vero expedita.</p>
            <p class="price">$ 0'000.000</p>
            <a href="/"><i class="fas fa-info-circle"></i> Más información</a>
        </div>
        <div class="accesoriesDetail">
            <div class="boxImage"></div>
            <h4>Accesorio 3</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Suscipit iusto, nostrum, necessitatibus nihil quibusdam tempora esse sapiente velit temporibus 
            excepturi assumenda, neque vero expedita.</p>
            <p class="price">$ 0'000.000</p>
            <a href="/"><i class="fas fa-info-circle"></i> Más información</a>
        </div>
        <div class="accesoriesDetail">
            <div class="boxImage"></div>
            <h4>Accesorio 4</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Suscipit iusto, nostrum, necessitatibus nihil quibusdam tempora esse sapiente velit temporibus 
            excepturi assumenda, neque vero expedita.</p>
            <p class="price">$ 0'000.000</p>
            <a href="/"><i class="fas fa-info-circle"></i> Más información</a>
        </div>
        <div class="accesoriesDetail">
            <div class="boxImage"></div>
            <h4>Accesorio 5</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Suscipit iusto, nostrum, necessitatibus nihil quibusdam tempora esse sapiente velit temporibus 
            excepturi assumenda, neque vero expedita.</p>
            <p class="price">$ 0'000.000</p>
            <a href="/"><i class="fas fa-info-circle"></i> Más información</a>
        </div>
    </div>

    <!-- Categoría SmartPhones -->

    <section class="categories">
        <h2>SmartPhones Gamer</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Suscipit iusto, nostrum, necessitatibus nihil quibusdam tempora esse sapiente velit temporibus 
        excepturi assumenda, neque vero expedita.</p>
    </section>

    <div class="smartphone">
        <div class="smartphoneDetail">
            <div class="boxImage"></div>
            <h4>SmartPhone 1</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Suscipit iusto, nostrum, necessitatibus nihil quibusdam tempora esse sapiente velit temporibus 
            excepturi assumenda, neque vero expedita.</p>
            <p class="price">$ 0'000.000</p>
            <a href="/"><i class="fas fa-info-circle"></i> Más información</a>
        </div>
        <div class="smartphoneDetail">
            <div class="boxImage"></div>
            <h4>SmartPhone 2</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Suscipit iusto, nostrum, necessitatibus nihil quibusdam tempora esse sapiente velit temporibus 
            excepturi assumenda, neque vero expedita.</p>
            <p class="price">$ 0'000.000</p>
            <a href="/"><i class="fas fa-info-circle"></i> Más información</a>
        </div>
        <div class="smartphoneDetail">
            <div class="boxImage"></div>
            <h4>SmartPhone 3</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Suscipit iusto, nostrum, necessitatibus nihil quibusdam tempora esse sapiente velit temporibus 
            excepturi assumenda, neque vero expedita.</p>
            <p class="price">$ 0'000.000</p>
            <a href="/"><i class="fas fa-info-circle"></i> Más información</a>
        </div>
        <div class="smartphoneDetail">
            <div class="boxImage"></div>
            <h4>SmartPhone 4</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Suscipit iusto, nostrum, necessitatibus nihil quibusdam tempora esse sapiente velit temporibus 
            excepturi assumenda, neque vero expedita.</p>
            <p class="price">$ 0'000.000</p>
            <a href="/"><i class="fas fa-info-circle"></i> Más información</a>
        </div>
        <div class="smartphoneDetail">
            <div class="boxImage"></div>
            <h4>SmartPhone 5</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Suscipit iusto, nostrum, necessitatibus nihil quibusdam tempora esse sapiente velit temporibus 
            excepturi assumenda, neque vero expedita.</p>
            <p class="price">$ 0'000.000</p>
            <a href="/"><i class="fas fa-info-circle"></i> Más información</a>
        </div>
    </div>

    <!-- Categoría Portátiles Gamer -->

    <section class="categories">
        <h2>Portátiles Gamer</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Suscipit iusto, nostrum, necessitatibus nihil quibusdam tempora esse sapiente velit temporibus 
        excepturi assumenda, neque vero expedita.</p>
    </section>

    <div class="laptop">
        <div class="laptopDetail">
            <div class="boxImage"></div>
            <h4>Portatil 1</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Suscipit iusto, nostrum, necessitatibus nihil quibusdam tempora esse sapiente velit temporibus 
            excepturi assumenda, neque vero expedita.</p>
            <p class="price">$ 0'000.000</p>
            <a href="/"><i class="fas fa-info-circle"></i> Más información</a>
        </div>
        <div class="laptopDetail">
            <div class="boxImage"></div>
            <h4>Portatil 2</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Suscipit iusto, nostrum, necessitatibus nihil quibusdam tempora esse sapiente velit temporibus 
            excepturi assumenda, neque vero expedita.</p>
            <p class="price">$ 0'000.000</p>
            <a href="/"><i class="fas fa-info-circle"></i> Más información</a>
        </div>
        <div class="laptopDetail">
            <div class="boxImage"></div>
            <h4>Portatil 3</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Suscipit iusto, nostrum, necessitatibus nihil quibusdam tempora esse sapiente velit temporibus 
            excepturi assumenda, neque vero expedita.</p>
            <p class="price">$ 0'000.000</p>
            <a href="/"><i class="fas fa-info-circle"></i> Más información</a>
        </div>
        <div class="laptopDetail">
            <div class="boxImage"></div>
            <h4>Portatil 4</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Suscipit iusto, nostrum, necessitatibus nihil quibusdam tempora esse sapiente velit temporibus 
            excepturi assumenda, neque vero expedita.</p>
            <p class="price">$ 0'000.000</p>
            <a href="/"><i class="fas fa-info-circle"></i> Más información</a>
        </div>
        <div class="laptopDetail">
            <div class="boxImage"></div>
            <h4>Portatil 5</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Suscipit iusto, nostrum, necessitatibus nihil quibusdam tempora esse sapiente velit temporibus 
            excepturi assumenda, neque vero expedita.</p>
            <p class="price">$ 0'000.000</p>
            <a href="/"><i class="fas fa-info-circle"></i> Más información</a>
        </div>
    </div>

    <!-- Categoría Hardware -->

    <section class="categories">
        <h2>Hardware</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Suscipit iusto, nostrum, necessitatibus nihil quibusdam tempora esse sapiente velit temporibus 
        excepturi assumenda, neque vero expedita.</p>
    </section>

    <div class="hardware">
        <div class="hardwareDetail">
            <div class="boxImage"></div>
            <h4>Componente 1</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Suscipit iusto, nostrum, necessitatibus nihil quibusdam tempora esse sapiente velit temporibus 
            excepturi assumenda, neque vero expedita.</p>
            <p class="price">$ 0'000.000</p>
            <a href="/"><i class="fas fa-info-circle"></i> Más información</a>
        </div>
        <div class="hardwareDetail">
            <div class="boxImage"></div>
            <h4>Componente 2</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Suscipit iusto, nostrum, necessitatibus nihil quibusdam tempora esse sapiente velit temporibus 
            excepturi assumenda, neque vero expedita.</p>
            <p class="price">$ 0'000.000</p>
            <a href="/"><i class="fas fa-info-circle"></i> Más información</a>
        </div>
        <div class="hardwareDetail">
            <div class="boxImage"></div>
            <h4>Componente 3</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Suscipit iusto, nostrum, necessitatibus nihil quibusdam tempora esse sapiente velit temporibus 
            excepturi assumenda, neque vero expedita.</p>
            <p class="price">$ 0'000.000</p>
            <a href="/"><i class="fas fa-info-circle"></i> Más información</a>
        </div>
        <div class="hardwareDetail">
            <div class="boxImage"></div>
            <h4>Componente 4</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Suscipit iusto, nostrum, necessitatibus nihil quibusdam tempora esse sapiente velit temporibus 
            excepturi assumenda, neque vero expedita.</p>
            <p class="price">$ 0'000.000</p>
            <a href="/"><i class="fas fa-info-circle"></i> Más información</a>
        </div>
        <div class="hardwareDetail">
            <div class="boxImage"></div>
            <h4>Componente 5</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Suscipit iusto, nostrum, necessitatibus nihil quibusdam tempora esse sapiente velit temporibus 
            excepturi assumenda, neque vero expedita.</p>
            <p class="price">$ 0'000.000</p>
            <a href="/"><i class="fas fa-info-circle"></i> Más información</a>
        </div>
    </div>
    <!-------- PIE DE PAGINA -------->
    <%- include("./partials/footer.ejs")%>
</body>
</html>