<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de compras</title>
    <link rel="stylesheet" href="/css/productCart.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>

    <!--elementos cabecera-->
    <header>
        <!-------- LOGO -------->
        <img src="images/Logo-letras.png" alt="Logo Global Tech">
        <!-------- NAVBAR -------->
        <nav class="Snavbar">
            <a href="/">INICIO</a>
            <a href="#">SOBRE NOSOTROS</a>
            <a href="/productDetail"><i class="fa-solid fa-gamepad-modern"></i></i>DETALLE DE PRODUCTO</a>
            <a href="/productCart">CARRITO DE COMPRAS</a>
            <a href="/registro">REGISTRO</a>
            <a href="/login">LOGIN</a>

        </nav>
        <!-------- ICONO MENU HAMBURGUESA -------->
        <div class="Sburger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>

    <div id="Qtituloenbaner">
        <img src="images/images_productCart/banner-productCart.jpg" alt="banner carrito de compras" class="Qcabecera">
        <a href="" class="Qtitulo">CARRITO DE COMPRAS<i class="fa-solid fa-cart-shopping"></i></a>
     
    </div>

    

    <div class="QlistadoyCantidad">
        <p>Listado de productos</p>
        <p class="Qcantidad">Cantidad</p>
    </div>
    <hr>
    <div class="Qcontenedor">

            
            <div class="Qproducto1">
                <img src="images/images_productCart/mouse.jpg">
                <div class="QtextoProducto1">
                    <p>Nombre producto: producto #1</p>
                    <p>Precio: $000.000</p>
                    <p>Eliminar</p>
                </div>
                <div class="QbotonAgregar">
                    <button class="Qmenos">-</button>
                    <button class="Qmas">+</button>
                </div>
            </div>

            
            <div class="Qproducto2">
            
                <img src="images/images_productCart/audifonos (1).jpg">
                <div class="QtextoProducto2">
                    <p>Nombre producto: producto #2</p>
                    <p>Precio: $000.000</p>
                    <p>Eliminar</p>
                </div>
                <div class="QbotonAgregar">
                    <button class="Qmenos">-</button>
                    <button class="Qmas">+</button>
                </div>
            </div>

            
            <div class="Qproducto3">
                <img src="images/images_productCart/palanca.jpg">
                <div class="QtextoProducto3">
                    <p>Nombre producto: producto #3</p>
                    <p>Precio: $000.000</p>
                    <p>Eliminar</p>
                </div>

                <div class="QbotonAgregar">
                    <button class="Qmenos">-</button>
                    <button class="Qmas">+</button>
                </div>
            </div>

        
    </div>
    <hr>
    <div class="Qtotalcarrito">
        <div>
            <p><b>TOTAL DEL CARRITO</b></p>
            <p>Subtotal: $000.000</p>
            <p>Total a pagar: $000.000 </p>
        </div>
        <div class="Qbotondecompra">
            <button>Comprar</button>
        </div>
    </div>

    <!-------- PIE DE PAGINA -------->

    <footer class="Sfooter">
        <div>
            <img src="images/LogoGlobalTech.png" alt="Logo Global Tech">
        </div>
        <div>
            <h3>MAPA DEL SITIO</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                Totam nobis, nostrum laborum cum minus deserunt similique facere harum. 
                Mollitia, eveniet impedit iusto ab sequi temporibus 
                quaerat eligendi necessitatibus laborum vitae!</p>
        </div>
        <div>
           <h3>DATOS DE CONTACTO</h3>
           <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
               Totam nobis, nostrum laborum cum minus deserunt similique facere harum. 
               Mollitia, eveniet impedit iusto ab sequi temporibus 
               quaerat eligendi necessitatibus laborum vitae!</p>
        </div>
    </footer>
</body>
</html>