<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="/images/Favicon.png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="css/register.css">
  
  <title>Registro</title>
</head>

<body>

  <!-- MENU NAVEGACIÓN -->
  <%- include("./partials/header.ejs")%>

  <!-- MENU NAVEGACIÓN -->
  <%- include("./partials/social.ejs")%>

  
      <!-------- IMAGEN DE FONDO -------->

  <div class="MimagenFondo">
    <form class="MformRegister" action="#">
      <h3>Regístrate en Global Tech</h3>

      <!-------- CAJA DE FORMULARIO -------->

      <div class="McompletarFormulario">
        <input type="email" placeholder="Email*" required>

        <div class="McompletarFormulario">
          <input type="text" placeholder="Nombre*" required>
        </div>
        <div class="McompletarFormulario">
          <input type="text" placeholder="Apellidos*" required>
        </div>
        <div class="McompletarFormulario">
          <input type="text" placeholder="Nombre de usuario*" maxlength="10" required>
        </div>
        <!-------- SELECCIONAR PAÍS -------->

        <div class="McompletarFormulario">
          <select class="Mpais">
            <option value="seleccionarPais">Seleccionar país</option>
            <option value="CO">Colombia</option>
            <option value="AR">Argentina</option>
            <option value="BO">Bolivia</option>
            <option value="BR">Brasil</option>
            <option value="CA">Canadá</option>
            <option value="CL">Chile</option>
            <option value="CR">Costa Rica</option>
            <option value="CU">Cuba</option>
            <option value="EC">Ecuador</option>
            <option value="SV">El Salvador</option>
            <option value="US">Estados Unidos</option>
            <option value="GT">Guatemala</option>
            <option value="HT">Haití</option>
            <option value="HN">Honduras</option>
            <option value="UM">Islas menores de Estados Unidos</option>
            <option value="VI">Islas Vírgenes (EEUU)</option>
            <option value="JM">Jamaica</option>
            <option value="MX">México</option>
            <option value="NI">Nicaragua</option>
            <option value="PA">Panamá</option>
            <option value="PY">Paraguay</option>
            <option value="PE">Perú</option>
            <option value="PR">Puerto Rico</option>
            <option value="DO">República Dominicana</option>
            <option value="UY">Uruguay</option>
            <option value="VE">Venezuela</option>
          </select>
        </div>
        <!-------- CONTRASEÑA -------->
        <div class="McompletarFormulario">
          <input type="password" placeholder="Contraseña*" maxlenght="10" required>
        </div>
        <div class="McompletarFormulario">
          <input type="password" placeholder="Confirmar contraseña*" maxlenght="10" required>
        </div>
      </div>
      <!-------- ACEPTO TÉRMINOS -------->

      <div class="MaceptoTerminos">
        <input class="Mcheckbox" type="checkbox" id="aceptoTerminos">Acepto los
        <a class="MterminosPolitica" href="#" target="_blank">términos y condiciones</a>
        y la
        <a class="MterminosPolitica" href="#" target="_blank">política de privacidad.</a>
      </div>
      <!-------- BOTONES REGISTRAR Y YA TENGO CUENTA -------->

      <div class="Mbutton">
        <input type="submit" id="Registrarse" value="REGISTRARSE">
        <input href="/code/views/login" type="submit" id="yaTengoCuenta"
          value="YA TENGO CUENTA">
      </div>
    </form>
  </div>
      <!--- FOOTER: PIE DE PÁGINA --->

      <%- include("./partials/footer.ejs")%>
</body>
</html>